doctype html
html(ng-app)
	head
		title= title
		link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css")
		link(href="http://bazalt-cms.com/assets/ng-table/0.3.0/ng-table.css")
		link(rel='stylesheet', href='/stylesheets/style_patientResults.css')
		link(rel='stylesheet', href='/stylesheets/style_profile.css')
		link(rel='stylesheet', href='//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css')
		script(src="../models/patient.js")
		script(src="../models/encounter.js")
		script(src="//code.jquery.com/jquery-1.10.2.js")
		script(src="//code.jquery.com/ui/1.11.0/jquery-ui.js")
		script(src="http://code.angularjs.org/1.2.0-rc.3/angular.js")
		script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js")
		script(src="//bazalt-cms.com/assets/ng-table/0.3.0/ng-table.js")

		link(href='../fullcalendar.css' rel='stylesheet')
		link(href='../fullcalendar.print.css' rel='stylesheet' media='print')
		script(src='../lib/moment.min.js')
		script(src='../lib/jquery.min.js')
		script(src='../lib/jquery-ui.custom.min.js')
		script(src='../fullcalendar.min.js')

		script(src="./qtip/qtip.js")
		script(src="./qtip/qtip.min.js")

	body
		block content
