doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style_profile.css')
    link(rel='sytlesheet', href='/stylesheets/style_index.css')
    link(rel='stylesheet', href='/stylesheets/style_encounter.css')
    link(rel='stylesheet', href='/stylesheets/style_table.css')
  body
    block content
