doctype html
html(ng-app)
	head
		title= title
		//link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css")
		//link(href="http://bazalt-cms.com/assets/ng-table/0.3.0/ng-table.css")
		link(rel='stylesheet', href='/stylesheets/style_patient.css')
		//link(rel='stylesheet', href='/stylesheets/style_table.css')
		//link(rel='stylesheet', href='//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css')
		link(rel='stylesheet', href='/stylesheets/cerulean.css')
		link(rel='stylesheet', href='/stylesheets/cerulean.min.css')
		link(rel='stylesheet', href='/stylesheets/test.css')
		script(src="../models/patient.js")
		script(src="../models/encounter.js")
		script(src="//code.jquery.com/jquery-1.10.2.js")
		script(src="//code.jquery.com/ui/1.11.0/jquery-ui.js")
		script(src="http://code.angularjs.org/1.2.0-rc.3/angular.js")
		script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js")
		script(src="//bazalt-cms.com/assets/ng-table/0.3.0/ng-table.js")
	body
		block content
