//profile.jade
extends ./layouts/layout

block content
	div(class="navbar navbar-inverse")
		div(class="navbar-collapse collapse navbar-inverse-collapse")
			ul(class="nav navbar-nav")
			p(class="farLeft") Currently signed in as #{user}
				span: a(class="logout" href="/logout")  Log out
	div(class="lowerBody" ng-controller="patientController")
		div(class="tabBox")
			ul(class="nav nav-pills nav-stacked" style="max-width: 300px;")
		div(class="bodyBox")
			div(id="calendar")
				h1 Log Encounter Information
				a(href="/quit") Quit
				html.
					<form id="newEncounter" action="/add-data/?type=Encounter" method="POST">
						<p>Username: <input type="text" name="username"> </p>
						<p>Appointment Type: <input type="text" name="type"> </p>
						<p>Date: <input type="text" name="date"> </p>
						<p>Patient ID: <input type="text" name="patientID"> </p>
						<p>Doctor Name: <input type="text" name="doctorName"> </p>
						<p>Weight: <input type="text" name="weight"> </p>
						<p>Height: <input type="text" name="height"> </p>
						<p>Results: <input type="text" name="results"> </p>
						<p>Notes: <input type="text" name="notes"> </p>
						<input type="submit" value="Submit">
					</form>
