//profile.jade
extends ./layouts/layout

block content
	div(class="navbar navbar-inverse")
		div(class="navbar-collapse collapse navbar-inverse-collapse")
			ul(class="nav navbar-nav")
				li(class="active"): a(href="/profile") Home
				li: a(href="/patient") Patients
				li: a(href="/searchDoctors") Search Doctors
				li: a(href="/searchMedication?index=1") Search Medication
	div(class="lowerBody" ng-controller="patientController")
		div(class="tabBox")
			ul(class="nav nav-pills nav-stacked" style="max-width: 300px;")
				li(class="active"): a(href="/profile") Calendar
				li: a(href="/managePrescriptions") Manage Prescriptions
		div(class="bodyBox")
			div(id="calendar")
				html.
					{{#result}}
						<h2>Bubble {{bubbleid}}</h2>
						<p><a href="{{#biewer.enter}}/add-encounter{{/biewer.enter}}">Add Encounter</a>
							{{#biewer.entercmd}}["run"]{{/biewer.entercmd}}
						<a href="{{#biewer.enter}}/add-prescription{{/biewer.enter}}">Add Prescription</a>
							{{#biewer.entercmd}}["run"]{{/biewer.entercmd}}
						<a href="{{#biewer.enter}}/add-information{{/biewer.enter}}">Add User Info</a>
							{{#biewer.entercmd}}["run"]{{/biewer.entercmd}}
						<h3>Patient Information</h3>
						{{#Information}}
							<p>PatientID: {{patientID}}</p>
							<p>Name: {{name}}</p>
							<p>Email: {{email}}</p>
							<br>
						{{/Information}}
						<h3>Encounters</h3>
						{{#Encounter}}
							<p>Username: {{username}}</p>
							<p>Appointment Type: {{type}}</p>
							<p>Date: {{date}}</p>
							<p>Patient Weight: {{weight}}</p>
							<p>Patient Height: {{height}}</p>
							<p>Doctor: {{doctorName}}</p>
							<p>Results: {{results}}</p>
							<p>Notes: {{notes}}</p>
							<br>
						{{/Encounter}}
						<h3>Prescriptions</h3>
						{{#Prescription}}
							<p>Name: {{name}}</p>
							<p>Date: {{date}}</p>
							<p>Brand: {{brand}}</p>
							<p>Dosage: {{dosage}}</p>
							<p>Pharmacy: {{pharmacy}} </p>
							<p>Doctor: {{doctorName}}</p>
							<br>
						{{/Prescription}}
					{{/result}}
