//patient.jade
extends ./layouts/layout

block content
	div(class="navbar navbar-inverse")
		div(class="navbar-collapse collapse navbar-inverse-collapse")
			ul(class="nav navbar-nav")
				li(class="active"): a(href="/profile") Home
				li: a(href="/patient") Patients
				li: a(href="/searchDoctors") Search Doctors
				li: a(href="/searchMedication?index=1") Search Medication
	div(class="lowerBody" ng-controller="patientController")
		div(id="prescriptionBox" class="tabBox")
			ul(class="nav nav-pills nav-stacked" style="max-width: 300px;")
				li: a(href="/profile") Calendar
				li(class="active"): a(href="/managePrescriptions") Manage Prescriptions
		div(class="bodyBox")
			div(id="prescriptionBox" class="row")
				html.
					{{#result}}
						{{#Prescription}}
							<h4>Prescription</h4>
							<p>Name: {{name}}<p>
							<p>Date: {{date}}<p>
							<p>Brand: {{brand}}<p>
						{{/Prescription}}
					{{/result}}
