//encounter.jade
extends ./layouts/layout_search

block content
	div(class="navbar navbar-inverse")
		div(class="navbar-collapse collapse navbar-inverse-collapse")
			ul(class="nav navbar-nav")
				li: a(href="/profile") Home
				li: a(href="/patient") Patients
				li: a(href="/searchDoctors") Search Doctors
	div(class="lowerBody" ng-controller="mainController")
		div(class="col-lg-12")
			div
				h1= "Medication List Test"
				div(id="tableDiv" ng-init="init_table" ng-repeat="medication in displayList")
					table(class="table table-striped table-hover")
						tr
							td Name:
							td {{medication.Name}}
						tr
							td Dosage:
							td {{medication.DosageInfo.Dosage}}
						tr
							td Active Ingredient
							td {{medication.Ingredient}}
						tr
							td Information
							td {{medication.information}}
				ul(class="pagination pagination-sm" )
					li: a(id="lefta" href="" ng-click="previous()") &laquo
					li: a(href="" ng-click="goto({{number}})" ng-repeat="number in numberList") {{number}}
					li: a(id="righta" href="" ng-click="next()") &raquo
		
	script.

		var index = 0;

		function mainController($scope) {
			$scope.index = 0;
			$scope.medicationList = !{JSON.stringify(medicationList)};

			$scope.init = function() {
				$scope.displayList = [];
				$scope.numberList = [];
				for(var i = index; i < index + 10; i++) {
					$scope.displayList.push($scope.medicationList[i]);
					$scope.numberList.push(i+1);
				}
			};

			$scope.next = function() {
				$scope.displayList.splice(0,$scope.displayList.length);
				$scope.numberList.splice(0,$scope.numberList.length);
				index += 10;
				if(index > $scope.medicationList.length - 10)
					index = $scope.medicationList.length - 10;
				for(var i = index; i < index + 10; i++) {
					$scope.displayList.push($scope.medicationList[i]);
				}
				for(var i = index/10; i < index/10 + 10; i++) {
					$scope.numberList.push(i+1);
				}
			};

			$scope.previous = function() {
				$scope.displayList.splice(0,$scope.displayList.length);
				$scope.numberList.splice(0,$scope.numberList.length);
				index -= 10;
				if(index < 10)
					index = 0;
				for(var i = index; i < index + 10; i++) {
					$scope.displayList.push($scope.medicationList[i]);
				}
				for(var i = index/10; i < index/10 + 10; i++) {
					$scope.numberList.push(i+1);
				}
			};

			$scope.goto = function(number) {
				$scope.displayList.splice(0,$scope.displayList.length);
				$scope.numberList.splice(0,$scope.numberList.length);
				index = number * 10 - 10; 
				if(index > $scope.medicationList.length - 10)
					index = $scope.medicationList.length - 10;
				if(index <= 10)
					index = 0;
				for(var i = index; i < index + 10; i++) {
					$scope.displayList.push($scope.medicationList[i]);
				}
				for(var i = index/10; i < index/10 + 10; i++) {
					$scope.numberList.push(i+1);
				}		
			};





			$scope.init();
		}
