//profile.jade
extends ./layouts/layout

block content
	div(class="navbar navbar-inverse")
		div(class="navbar-collapse collapse navbar-inverse-collapse")
			ul(class="nav navbar-nav")
				li(class="active"): a(href="/profile") Home
				li: a(href="/patient") Patients
				li: a(href="/searchDoctors") Search Doctors
				li: a(href="/searchMedication?index=1") Search Medication
			p(class="farLeft") Currently signed in as #{user}
				span: a(class="logout" href="/logout")  Log out
	div(class="lowerBody" ng-controller="patientController")
		div(class="tabBox")
			ul(class="nav nav-pills nav-stacked" style="max-width: 300px;")
				li(class="active"): a(href="/profile") Calendar
				li: a(href="/managePrescriptions") Manage Prescriptions
				li: a(href="/historyRequests") Manage Requests
		div(class="bodyBox")
			div(id="calendar")
				p Username: #{username}
				p Name: #{name}
				p PatientID: #{date}
				p Email: #{email}
				a(href="/quit") Quit
