body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

label#patientName {
  padding: 0px 80px 0px 0px;
}

label#nurseName {
  padding: 0px 86px 0px 0px;
}

label#doctorName {
  padding: 0px 82px 0px 0px;
}

label#birthdate {
  padding: 0px 46px 0px 0px;
}

label#description {
  padding: 0px 51px 0px 0px;
}
