html, body {
  width: 100%;
  margin: 0px;
  padding: 0px 0px 0px 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
  font-size: 20pt;
  font-style: Arial;
  font-weight: bold;
  color: black;
  text-shadow: 1px 1px 1px #888888;
}

div.header {
  color: red;
  overflow: auto;
}

.welcomeBanner {
  font-family: 'Corben', Georgia, Times, serif;
  font-size: 25px;
}

.topBar {
  background: #000099;
}

.logo {
  height: 100px;
  float: left;
}

.status {
  padding-top: 10px;
  float: right;
}

.tabContainer {
  width: 100%;
  padding: 73px 15px 0px 15px;
  background: black/*#000099*/;
}

span#userLoggedInAs {
  padding-right: 5px;
  border-right: thin solid white;
  color: white;
}

span#userLogOut {
  padding-left: 5px;
  padding-right: 5px;
}

ul.topTab {
  list-style-type: none;
  width: 100%;
  position: center;
  height: 27px;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  padding: 0px 0 0 300px;
}

li.topTab {
  white-space: nowrap;
}

/*ul#topTab li {
  display: block;
  float: left;
  margin: 0 0 0 8px;
  height: 27px;
  text-shadow: 0px 1px 1px 1px #888888;
  box-shadow: 0px 0px 0px 0px #888888;
}

ul#topTab li.left {
  margin: 0;
}*/

ul.topTab li a {
  /*display: block;*/
  float: left;
  color: #fff;
  background: #00007A;
  line-height: 27px;
  text-decoration: none;
  padding: 0px 17px 10px 18px;
  height: 27px;
  font-size: 21px;
  margin: 0px 20px 0px 0px;
}

ul.topTab li a:hover {
  background: #1919A3 /*#2E4560*/;
}

ul.topTab li a#current {
  color: #2E4560;
  background: white;
  color: black;
  box-shadow: 0px 0px 0px #888888;
}

/*ul#topTab li a.current:hover {
  color: #2E4560;
  background: #fff;
}*/

div.lowerBody {
  width: 100%;
  display: table-row;
  border-top: 0px solid black;
  padding: 0px;
  margin: 0px;
}

div.bodyBox {
  display: table-cell;
  width: auto;
  padding: 0 80px 80px 80px;
  /*margin-top: 0px;
  width: 70%;
  float: right;
  margin-left: auto;
  margin-right: auto;
  margin-left: 30px;*/
}

div.tabBox {
  display: table-cell;
  width: 15%;
  text-align: left;
  padding: 0 0 0 30px;
  /*margin: 200px 0 0 0;
  width: 100px;
  float: left;
  text-align: left;*/
}

a.tab {
  font-size: 20px;
  padding: 0px 100px 0px 0px;
}

label#patientInputBox {
  padding: 0px 10px 10px 0px;
}

#patientInputBox {
  margin: 0px;
  padding: 10px 30px 10px 10px;
}

p.patientInputBox#body {
  border: 0px solid black;
}

.patientForm {
  border: 0px solid black;
  padding: 10px 10px 10px 10px
}

label#patientName {
  padding: 0px 91px 0px 0px;
}

label#birthdate {
  padding: 0px 22px 0px 0px;
}

label#gender {
  padding: 0px 133px 0px 0px;
}

button#newPatient {
  margin: 10px 0px 0px 0px;
}

label#inputBox {
  display: inline-block;
  clear: left;
}

p#patientBoxHeader {
  text-shadow: 1px 1px 1px #888888;
  padding: 7px;
  background-color: #0000ff;
  text-align:left;
  border-width:0px 0px 1px 1px;
  font-size:20px;
  font-family:Arial;
  font-weight:bold;
  color:#ffffff;
  position: relative;
  background:-o-linear-gradient(bottom, #0000bf 5%, #005fbf 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0000bf), color-stop(1, #005fbf) );
	background:-moz-linear-gradient( center top, #0000bf 5%, #005fbf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#0000bf", endColorstr="#005fbf");	background: -o-linear-gradient(top,#0000bf,005fbf);
  top: 0px;
}

div#patientBox {
  padding: 0px 0px 30px 0px;
}

table#addUserBox {
  margin: 0px;
  border: 1px solid black;
  padding: 10px 10px 10px 10px;
  width: 100%;
}

button#addEncounter {
  margin: 0px 10px 10px 10px;
}

.ng-table {
	border: 1px solid #000;
}



span#hover{
    background: none repeat scroll 0 0 #F8F8F8;
    border: 5px solid #DFDFDF;
    color: #717171;
    font-size: 13px;
    height: 30px;
    letter-spacing: 1px;
    line-height: 30px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: -80px;
    left:-30px;
    display:none;
    padding:0 20px;

}
span#hover:after{
    content:'';
    position:absolute;
    bottom:-10px;
    width:10px;
    height:10px;
    border-bottom:5px solid #dfdfdf;
    border-right:5px solid #dfdfdf;
    background:#f8f8f8;
    left:50%;
    margin-left:-5px;
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
}
.hover{
    margin:50px;
    float:left;
    position:relative;
    cursor:pointer;
}

.hover:hover span{
    display:block;
}

#eventInfo {
  border: 2px solid;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #888888;
  background: #033c73;
  color: white;
  width: 100px;
  z-index: 9999;
  position: absolute;

  -webkit-animation: fadein .5s; /* Safari and Chrome */
  -moz-animation: fadein .5s; /* Firefox */
  -ms-animation: fadein .5s; /* Internet Explorer */
  -o-animation: fadein .5s; /* Opera */
  animation: fadein .5s;

}

#scheduleEvent {
  border: 2px solid white;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #888888;
  background: #033c73;
  text-align: center;
  color: white;
  width: 160px;
  height: 28px;
  z-index: 9999;
  position: absolute;

  -webkit-animation: fadein .5s; /* Safari and Chrome */
  -moz-animation: fadein .5s; /* Firefox */
  -ms-animation: fadein .5s; /* Internet Explorer */
  -o-animation: fadein .5s; /* Opera */
  animation: fadein .5s;

}

#encounterDetails {
  border: 2px solid;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #888888;
  background: #033c73;
  color: white;
  width: 200px;
  z-index: 9999;
  position: absolute;
  padding: 0 0 0 10px;
  text-align: left;

  -webkit-animation: fadein .5s; /* Safari and Chrome */
  -moz-animation: fadein .5s; /* Firefox */
  -ms-animation: fadein .5s; /* Internet Explorer */
  -o-animation: fadein .5s; /* Opera */
  animation: fadein .5s;

}

#newEncounter {
  margin: 30px 0 0 0;
}

p.bold {
  font-weight: bold;
}

#calendar {
  margin: 50px 0 0 0;
  width: 100%;
}

#bottomInput {
  vertical-align: bottom;
  position: relative;
  top: 5px;
  width: 100px;
}

#bottomTextInput {
  width: 300px;
}

#largerText {
  top: 5px;
  font-size: 18px;
}

#evenBox {
  padding-top: 21px;
}

#coughBox {
  margin-left: 7px;
  padding-top: 0px;
  vertical-align: top;

}

#cough {
  left: -80px;
}

#feverBox {
  margin-left: 15px;
  padding-top: 0px;
  vertical-align: top;
}

#fever {
  left: -402px;
}

#weightGainBox {
  margin-left: 92px;
  padding-top: 0px;
  vertical-align: top;
}

#weightGain {
  left: -724px;
}

#nightSweatsBox {
  margin-left: 92px;
  padding-top: 0px;
  vertical-align: top;
}

#nightSweats {
  left: -80px;
}

#tableDiv {
  padding-top: 30px;
}

#prescriptionBox {
  padding-top: 18px;
}

#rowBox {
  top: -300px;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​

/* Opera */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​
