//patient.jade
extends ../layouts/layout

block content
	div(class="header")
		div(class="topBar")
			img(class="logo", src="images/SecureLogo.png")
			span(class="status")
				span( id="userLoggedInAs") Currently loggin in as #{user}
				span( id="userLogOut"): a(href="") Log out
		div(class="tabContainer")
			ul(id="topTab")
				li: a(id="tab", href="/profile", title="Home") Home
				li: a(id="tab", href="/patient", title="Home") Find/Create Patient
				li: a(id="tab", href="/encounter", title="Home", class="current") Encounter Queue
				li: a(id="tab", href="/admin", title="Home") Administration
	div(class="lowerBody")
		h1= "Fill Encounter Information"
		div(id="patientTable")
			form(name="tb_assessment_form", action="/tb_assessment_submit_form", method="post")
				label(class="patientID") Please enter the patient's medical ID number:
				input(type="text", name="patientID")
				br
				label Chief complaint:
				input(type="textbox", name="chief_complaint")
				br
				label Short history of present illness:
				input(type="text", name="illness_history")
				br
				label Physical findings:
				input(type="text", name="physical_findings")
				br
				label Diagnosis:
				input(type="text", name="diagnosis")
				br
				label Upload X-Ray
				button(type="submit") Log Encounter



		script.
			function mainController($scope) {
				$scope.encounterList = !{JSON.stringify(encounterList)};
			}
