td#entry1 {
  padding: 10px 10px 10px 10px;
}

td#entry2 {
  padding: 10px 10px 10px 10px;
}

td#entry3 {
  padding: 10px 10px 10px 10px;
}

td#entry4 {
  padding: 10px 10px 10px 10px;
}

td#entry5 {
  padding: 10px 10px 10px 10px;
}

td#entry6 {
  padding: 10px 10px 10px 10px;
}

#encounterRef {
  padding: 0px 5px 0px 5px;
  border-right: thin solid black;
}

#encounterRefEnd {
  padding: 0px 5px 0px 5px
}

#encounterHead li{
  display: inline;
  list-style-type: none;
}

label#patientName {
  padding: 0px 211px 0px 0px;
}

label#nurseName {
  padding: 0px 219px 0px 0px;
}

label#doctorName {
  padding: 0px 213px 0px 0px;
}

label#date {
  padding: 0px 174px 0px 0px;
}

label#description {
  padding: 0px 171px 0px 0px;
}

label#procedure {
  padding: 0px 231px 0px 0px;
}

label#followup {
  padding: 0px 43px 0px 0px;
}

span#myspan {
  padding: 0px 10px 0px 0px;
}
