//patient.jade
extends ../layouts/layout_profile

block content
	div(class="header")
		div(class="topBar")
			img(class="logo", src="images/SecureLogo.png")
			span(class="status")
				span( id="userLoggedInAs") Currently loggin in as #{user}
				span( id="userLogOut"): a(href="/logout") Log out
		div(class="tabContainer")
			ul(id="topTab")
				li: a(id="tab", href="/profile", title="Home") Home
				li: a(id="tab", href="/patient", title="Home") Find/Create Patient
				li: a(id="tab", href="/encounter", title="Home", class="current") Encounter Queue
				li: a(id="tab", href="/searchMedication?index=1", title="Home") Administration
	div(class="lowerBody")
		h1= "Manage Encounters"
		div(id="patientTable")
			ul(id= "encounterHead")
				li(id="encounterRef") View Encounters 
				li: a(id="encounterRefEnd", href="/addEncounter") Add Encounter
		div(ng-controller="mainController")
			h1= "Your Recent Encounters"
			div(class="patientTable")
				table
					tr
						td Date
						td Patient Name
						td Nurse Name
						td Doctor Name
						td Procedure
						td Follow Up
						td Description 
					tr(ng-repeat="encounter in encounterList")
						td {{encounter.date}}
						td {{encounter.patientName}}
						td {{encounter.nurseName}}
						td {{encounter.doctorName}}
						td {{encounter.procedure}}
						td {{encounter.followup}}
						td {{encounter.description}}

	script.
		function mainController($scope) {
			$scope.encounterList = !{JSON.stringify(encounterList)};
		}
