//newuser.jade
extends ../layouts/layout_newuser

block content
	div(class="heading")
		img(class="logo", src="images/SecureLogo.png")
	center
		h1= "Initialize Account"
		p Please provide the following information about yourself to complete creation of account:
		div(class="doctorTable")
			form(class="doctorForm", name="newDoctor", action="/initAccount", method="post") 
					label(id="doctorID") Doctor Medical ID Number:
					input(type="text", name="doctorID", required="Insert ID")
					br
					label(id="doctorName") Name:
					input(type="text", name="doctorName", required)
					br
					label(id="doctorAddress") Address:
					input(type="text", name="doctorAddress", require)
					br
					label State:
					input(type="text", name="doctorState", required)
					label City:
					input(type="text", name="doctorCity", required)
					label Zip:
					input(type="text", name="doctorZip", required)
					br
					label Name of Hospital:
					input(type="text", name="doctorHospital")
					br
					label Specialty
					input(type="text", name="doctorSpecialty")
					br
					label(id="birthdate") Birthdate:
					input(type="text", name="doctorBirthdate", id="datepicker", required)
					br
					label(id="gender") Gender: 
					input(type="radio", name="doctorMale", value=true, required)
					label Male
					input(type="radio", name="doctorMale", value=false, required)
					label Female
					br
					label Email Address:
					input(type="text", name="doctorEmail", required) 
					br
					button(id="newDoctor", type="submit") Create doctor

	script.
		$(function() {
			$( "#datepicker" ).datepicker();
		});
