//profile.jade
extends ../layouts/layout_profile

block content
	div(class="header")
		div(class="topBar")
			img(class="logo", src="images/SecureLogo.png")
			span(class="status")
				span( id="userLoggedInAs") Currently logged in as #{user}
				span( id="userLogOut"): a(href="/logout") Log out
		div(class="tabContainer")
			ul(class="topTab")
				li(class="tab"): a(class="tab", href="/profile", title="Home", id="current") Home
				li: a(class="tab", href="/patient", title="Home") Manage Patients
				li: a(class="tab", href="/searchDoctors", title="Home") Search Doctors
				li: a(class="tab", href="/searchMedication?index=1", title="Home") Search Drugs
	div(class="lowerBody" ng-controller="patientController")
			div(class="tabBox")
				a(href="/newPrescription") Write Prescription
				br
				a(href="/pendingRequests") View Pending Requests
			div(class="bodyBox")
				div(id="requests")
					h1= "Pending Nurse Requests"
					div(id="nurseList")
						table
							tr
								td ID Number
								td Name
								td
								td
							tr(ng-repeat="nurse in nurseList")
								td {{nurse.nurseID}}
								td
								td: a(href="/acceptNurse?nurseID={{nurse.nurseID}}") Accept
								td: a(href="/rejectNurse?nurseID={{nurse.nurseID}}") Reject
					div(id="emptyNurseList")
						p There are no pending nurse requests
				div(id="sendEncounters")
				form(id="encounterForm" name="encounterForm" action="javascript:shareEncounters()")
					h1= "Select Encounters"
					div(id="encounterList")
						table(name="encounterTable")
							tr
								td Select
								td Date
								td Procedure
								td Patient Name
								td Location
								td
							tr(ng-repeat="encounter in encounterList")
								td: input(type="checkbox" value="{{encounter._id}}?{{encounter.parentID}}" name="TEST")
								td {{encounter.patientID}}
								td {{encounter.procedureType}}
								td {{encounter.patientName}}
								td {{encounter.encounterLocation}}
								td: a(href="") Details
					div(id="emptyEncounterList")
						p You currently have no encounters to share
					br
					br
					p Insert the doctor or nurse's medical ID you wish to share with:
					label DoctorID: 
					input(type="text" name="doctorID")
					label NurseID:
					input(type="text" name="nurseID")
					br
					button(type="submit") Share Encounters
							

		script.

			function patientController($scope) {

				$scope.nurseList = !{JSON.stringify(requestList)};
				$scope.encounterList = !{JSON.stringify(encounterList)};

				$scope.('#

				$(document).ready(function() {
					if($scope.nurseList.length == 0) {
						$('#nurseList').hide();
						$('#emptyNurseList').show();
					}
					else {
						$('#nurseList').show();
						$('#emptyNurseList').hide();
					}

					if($scope.encounterList.length == 0) {
						$('#emptyEncounterList').show();
						$('#encouterList').hide();
					}
					else {
						$('#emptyEncounterList').hide();
						$('#encounterList').show();
					}
				});
			}

			function logout() {
				$.post("logout");
			}
