//profile.jade
extends ../layouts/layout_profile

block content
	div(class="header")
		div(class="topBar")
			img(class="logo", src="images/SecureLogo.png")
			span(class="status")
				span( id="userLoggedInAs") Currently loggin in as #{user}
				span( id="userLogOut"): a(href="/logout") Log out
		div(class="tabContainer")
			ul(class="topTab")
				li(class="tab"): a(class="tab", href="/profile", title="Home", id="current") Home
				li: a(class="tab", href="/patient", title="Home") Manage Patients
				li: a(class="tab", href="/searchDoctors", title="Home") Search Doctors
				li: a(class="tab", href="/searchMedication?index=1", title="Home") Manage Account
		div(class="lowerBody")
			center
				div(class="tabBox")
					a(href="/newEncounter") Schedule Encounter
					br
					a(href="/historyRequests") Encounter History Requests
					br
					a(href="") Renew Prescription
					br
					a(href="") Get Vaccination Record
				div(class="bodyBox")
					p(id="patientBoxHeader") Schedule a New Encounter
					form(class="patientForm", name="newAppointment", action="/addEncounter", method="post")
						p Please fill in the following information to schedule your appointment:
						br
						label(id="patientID") Patient's Medical ID Number:
						input(type="text", name="patientID", required)
						br
						label(id="date") Date:
						input(type="text", name="encounterDate", id="datepicker", required)
						br
						label(id="time") Time:
						input(type="time", name="encounterTime", id="appointmentTime", required)
						br
						label(id="encounterLocation") Location:
						input(type="text", name="encounterLocation", id="location", required)
						br
						label(id="encounterType") Please Select the Type of Encounter
						select(name="encounterSelect")
							option(value="oral_cancer") Oral Cancer Screening
							option(value="tb_assessment") TB Patient Assessment
							option(value="ophthalmology") Ophthalmology Questionaire
							option(value="radiology") Radiology Examination
							option(value="teledermatology") Teledermatology
							option(value="surgery_followup") Surgery Follow-Up
							option(value="prenatal_screening") Prenatal Screening
							option(value="cervical_cancer") Diagnose Cervical Cancer
							option(value="hiv_regimen_failure") HIV Regiment
						br
						button(type="submit") Schedule Encounter
	
	script.
		$(function() {
			$( "#datepicker" ).datepicker();
		});
