//profile.jade
extends ../layouts/layout_profile

block content
	div(class="navbar navbar-inverse")
		div(class="navbar-collapse collapse navbar-inverse-collapse")
			ul(class="nav navbar-nav")
				li(class="active"): a(href="/profile") Home
				li: a(href="/patient") Patients
				li: a(href="/searchDoctors") Search Doctors
				li: a(href="/searchMedication?index=1") Search Medication
			p(class="farLeft") Currently signed in as #{user}
				span: a(class="logout" href="/logout")  Log out
	div(class="lowerBody" ng-controller="patientController")
		div(class="tabBox")
			ul(class="nav nav-pills nav-stacked" style="max-width: 300px;")
				li(class="active"): a(href="/profile") Calendar
				li: a(href="/newPrescription") Write Prescription
				li: a(href="/manageEncounters") Manage Encounters
		div(class="bodyBox")
			div(id="calendar")
			div(id="eventInfo")
				p(id="eventTitle")
				p(id="patientID")
				p(id="encounterLocation")
			div(id="scheduleEvent")
				a(id="scheduleEncounter" href="") Schedule Encounter
			div(id="encounterDetails")
				a(id="patientInfo" href="") View Patient Information
				br
				a(id="encounterInfo" href="") View Encounter Information
				br
				a(id="logDetails" href="") Log Encounter Details
			div(id="newEncounter")
				p(id="patientBoxHeader") Schedule a New Encounter
				form(class="patientForm", name="newAppointment", action="/addEncounter", method="post")
					p(class="bold") Please fill in the following information to schedule your appointment:
					br
					table
						tr
							td Patient's Medical ID Number:
							td: input(type="text", name="patientID")
						tr
							td Date:
							td: input(id="dateInput" type="text", name="encounterDate")
						tr
							td Start Time:
							td: input(type="time", name="startTime")
						tr
							td End Time:
							td: input(type="time", name="endTime")
						tr
							td Location:
							td: input(type="text" name="encounterLocation")
						tr
							td Please Select the Type 
								br
								span of Encounter:
							td: select(name="encounterSelect")
								option(value="oral_cancer") Oral Cancer Screening
								option(value="tb_assessment") TB Patient Assessment
								option(value="ophthalmology") Ophthalmology Questionaire
								option(value="radiology") Radiology Examination
								option(value="teledermatology") Teledermatology
								option(value="surgery_followup") Surgery Follow-Up
								option(value="prenatal_screening") Prenatal Screening
								option(value="cervical_cancer") Diagnose Cervical Cancer
								option(value="hiv_regimen_failure") HIV Regiment
					br
					button(type="submit") Schedule Encounter

				

		script.

			function patientController($scope) {

				//$scope.upcomingEncounters = !{JSON.stringify(upcomingEncounters)};

				//$scope.pastEncounters = !{JSON.stringify(pastEncounters)};

				$scope.eventList = !{JSON.stringify(eventList)};

				$('#eventInfo').hide();
				$('#scheduleEvent').hide();
				$('#newEncounter').hide();
				$('#encounterDetails').hide();

				$(window).scroll( function() {
					$('#scheduleEvent').hide();
				});

				$('#scheduleEncounter').click( function() {
					$('#scheduleEvent').hide();
					$('#encounterDetails').hide();
					$('#newEncounter').show();
					$('html, body').animate({
						scrollTop: $('#newEncounter').offset().top
						}, 500);
					$('#dateInput').val($scope.dateSelected);
				});

				$(document).ready( function() {
					var events = $('#calendar').fullCalendar('clientEvents');
					for(var i = 0; i < events.length; i++) {
						if(events[i].details_logged == true) {
							events[i].color = 'red';
							$('#calendar').fullCalendar('updateEvent',events[i]);
						}
					}
				});
				
				$('#calendar').fullCalendar({
						header: {
							left: 'prev,next today',
							center: 'title',
							right: 'month,agendaWeek,agendaDay'
						},
						defaultDate: '2014-07-12',
						editable: true,
						events: $scope.eventList,
						eventMouseover: function(event, jsEvent, view) {
							$('#scheduleEvent').hide();
							$('#encounterDetails').hide();
							$('#eventInfo').css({left: jsEvent.pageX + 30, top: jsEvent.pageY - 70});
							$('#eventTitle').text(event.title);
							$('#patientID').text(event.patientID);
							$('#encounterLocation').text(event.encounterLocation);
							$('#eventInfo').show();
						},
						eventMouseout: function() {
							$('#eventInfo').hide();
						},
						eventClick: function(event, jsEvent, view) {
							$('#eventInfo').hide();
							$('#encounterDetails').css({left: jsEvent.pageX + 20, top: jsEvent.pageY - 20});
							$('#encounterDetails').show();

							/* Set the href values */
							$('#patientInfo').attr('href', '/patientResults?patientID='+event.patientID);
							$('#encounterInfo').attr('href', '/encounterDetails?patientID='+event.patientID+'&encounterID='+event.encounterID);
							$('#logDetails').attr('href', '/fillDetails?encounterType='+event.title+'&patientID='+event.patientID+'&encounterID='+event.encounterID);
						},
						dayClick: function(date, jsEvent, view) {
							$('#encounterDetails').hide();

							/* Format the date to populate the new encounter date box */
							var date = date.format();
							$scope.dateSelected = date.substring(5,7) + '/' + date.substring(8,10) + '/' + date.substring(0,4);
							$('#scheduleEvent').css({left: jsEvent.pageX + 20, top: jsEvent.pageY - 20});
							if($('#scheduleEvent').is(':hidden')) 
								$('#scheduleEvent').show();
							else 
								$('#scheduleEvent').hide();
						}
					});
				}

			function logout() {
				$.post("logout");
			}
