//profile.jade
extends ../layouts/layout_profile

block content
	div(class="navbar navbar-inverse")
		div(class="navbar-collapse collapse navbar-inverse-collapse")
			ul(class="nav navbar-nav")
				li(class="active"): a(href="/profile") Home
				li: a(href="/patient") Patients
				li: a(href="/searchDoctors") Search Doctors
				li: a(href="/searchMedication?index=1") Search Medication
			p(class="farLeft") Currently signed in as #{user}
				span: a(class="logout" href="")  Log out
	div(class="lowerBody" ng-controller="encounterController")
		div(class="tabBox")
			ul(class="nav nav-pills nav-stacked" style="max-width: 300px;")
				li: a(href="/profile") Calendar
				li: a(href="/newPrescription") Write Prescription
				li: a(href="/manageEncounters") Manage Encounters
		div(class="bodyBox")
			div(id="evenBox" class="row")
				div
					div(class="page-header")
						h1= "Encounter Information"
					div(id="fullDetails" class="bs-component")
						table(class="table table-striped table-hover")
							tr
								td Date:
								td {{encounter.date}}
							tr
								td Patient ID Number:
								td {{encounter.patientID}}
							tr
								td Doctor ID Number:
								td {{encounter.doctorID[0]}}
							tr
								td Location: 
								td {{encounter.encounterLocation}}
							tr
								td Cough:
								td {{encounter.cough}}
							tr
								td Fever:
								td {{encounter.fever}}
							tr
								td Poor Weight Gain:
								td {{encounter.poor_weight_gain}}
							tr
								td Night Sweats
								td {{encounter.night_sweats}}
							tr
								td Fatigue
								td {{encounter.fatigue}}
				div(id="partialDetails" class="bs-component")
					table(class="table table-striped table-hover")
						tr
							td Date:
							td {{encounter.date}}
						tr
							td Patient ID Number:
							td {{encounter.patientID}}
						tr
							td Doctor ID Number:
							td {{encounter.doctorID[0]}}
						tr
							td Location
							td {{encounter.encounterLocation}}
														
		script.

			function encounterController($scope) {

				$scope.encounter = !{JSON.stringify(encounterInfo)};

				$('#fullDetails').hide();
				$('#parialDetials').hide();

				$(document).ready( function() {
					if($scope.encounter.details_logged == true){
						$('#fullDetails').hide();
						$('#partialDetails').show();
					}
					else {
						$('#partialDetails').show();
						$('#fullDetails').hide();
					}
				});
			}

			function logout() {
				$.post("logout");
			}
