//profile.jade
extends ../layouts/layout_profile

block content
	div(class="navbar navbar-inverse")
		div(class="navbar-collapse collapse navbar-inverse-collapse")
			ul(class="nav navbar-nav")
				li(class="active"): a(href="/profile") Home
				li: a(href="/patient") Patients
				li: a(href="/searchDoctors") Search Doctors
				li: a(href="/searchMedication?index=1") Search Medication
			p(class="farLeft") Currently signed in as #{user}
				span: a(class="logout" href="/logout")  Log out
	div(class="lowerBody" ng-controller="patientController")
		div(class="tabBox")
			ul(class="nav nav-pills nav-stacked" style="max-width: 300px;")
				li: a(href="/profile") Calendar
				li: a(href="/managePrescriptions") Manage Prescriptions
				li(class="active"): a(href="/historyRequests") Manage Requests
		div(class="bodyBox")
			div(id="prescriptionBox" class="row")
				div
					div(class="well bs-component")
						div(class="patientTable")
							h1= "Current Requests"
							div
								table(class="table table-striped table-hover")
									thead
										tr
											td Patient's Medical ID
											td Patient's Name
											td Doctor's Medical ID
											td Action
									tbody
										tr(ng-repeat="request in requestList")
											td {{request.patientID}}
											td {{request.patientName}}
											td {{request.doctorID}}
											td: a(href="/acceptRequest?patientID={{request.patientID}}&doctorID={{request.doctorID}}") Accept
												a(href="/rejectRequest?patientID={{request.patientID}}&doctorID={{request.doctorID}}") /Decline


		script.

			function patientController($scope) {

				$scope.requestList = !{JSON.stringify(requestList)};
			}
