//newuser.jade
extends ../layouts/layout_newuser

block content
	div(class="heading")
		img(class="logo", src="images/SecureLogo.png")
	center
		h1= "Initialize Account"
		p Please provide the following information about yourself to complete creation of account:
		div(class="patientTable")
			form(class="patientForm", name="newPatient", action="/initAccount", method="post") 
					label(id="patientID") Patient's Medical ID Number:
					input(type="text", name="patientID", required="Insert ID")
					br
					label(id="patientName") Patient Name:
					input(type="text", name="patientName", required)
					br
					label(id="patientAddress") Patient Address:
					input(type="text", name="patientAddress", require)
					br
					label State:
					input(type="text", name="patientState", required)
					label Zip:
					input(type="text", name="patientZip", required)
					br
					label(id="birthdate") Birthdate:
					input(type="text", name="patientBirthdate", id="datepicker", required)
					br
					label(id="gender") Gender: 
					input(type="radio", name="patientGender", value="Male", required)
					label Male
					input(type="radio", name="patientGender", value="Female", required)
					label Female
					br
					label Email Address:
					input(type="text", name="patientEmail", required) 
					br
					button(id="newPatient", type="submit") Create Patient

	script.
		$(function() {
			$( "#datepicker" ).datepicker();
		});
