//patient.jade
extends ../layouts/layout_profile

block content
	div(class="navbar navbar-inverse")
		div(class="navbar-collapse collapse navbar-inverse-collapse")
			ul(class="nav navbar-nav")
				li(class="active"): a(href="/profile") Home
				li: a(href="/patient") Patients
				li: a(href="/searchDoctors") Search Doctors
				li: a(href="/searchMedication?index=1") Search Medication
			p(class="farLeft") Currently signed in as #{user}
				span: a(class="logout" href="/logout")  Log out
	div(class="lowerBody" ng-controller="patientController")
		div(id="prescriptionBox" class="tabBox")
			ul(class="nav nav-pills nav-stacked" style="max-width: 300px;")
				li: a(href="/profile") Calendar
				li(class="active"): a(href="/managePrescriptions") Manage Prescriptions
				li: a(href="/historyRequests") Manage Requests
		div(class="bodyBox")
			div(id="prescriptionBox" class="row")
				div
					div(class="well bs-component")
						div(class="patientTable")
							h1= "My Prescriptions"
							div
								table(class="table table-striped table-hover")
									thead
										tr
											td Name
											td Start Date
											td End Date
											td Refills
											td Dosage
											td Frequency
											td Strength
											td Instructions
									tbody
										tr(ng-repeat="prescription in prescriptionList")
											td {{prescription.name}}
											td {{prescription.start_date}}
											td {{prescription.end_date}}
											td {{prescription.refills}}
											td {{prescription.dosage}}
											td {{prescription.frequency}}
											td {{prescription.strength}}
											td {{prescription.instructions}}

		script.
			function patientController($scope) {
				
				$scope.prescriptionList = !{JSON.stringify(prescriptionList)};
			}
