//profile.jade
extends ../layouts/layout_prescription

block content
	div(class="navbar navbar-inverse")
		div(class="navbar-collapse collapse navbar-inverse-collapse")
			ul(class="nav navbar-nav")
				li(class="active"): a(href="/profile") Home
				li: a(href="/patient") Patients
				li: a(href="/searchDoctors") Search Doctors
				li: a(href="/searchMedication?index=1") Search Medication
			p(class="farLeft") Currently signed in as #{user}
				span: a(class="logout" href="/logout")  Log out
	div(class="lowerBody")
		div(class="tabBox")
			ul(class="nav nav-pills nav-stacked" style="max-width: 300px;")
				li: a(href="/profile") Calendar
				li(class="active"): a(href="/newPrescription") Write Prescription
				li: a(href="/manageEncounters") Manage Encounters
		div(class="bodyBox")
			div(id="evenBox" class="row")
				div
					div(class="well bs-component")
						h1= "Create Prescription"
						form(class="form-horizontal", name="newPrescription", action="/newPrescription", method="post")
							fieldset
							legend Please provide the following information to fill the prescription order:
							div(class="form-group")
								label(for="patientID" class="col-lg-2 control-label") Patient ID
								div(class="col-lg-10")
									input(type="text" class="form-control" id="patientID" name="patientID" palceholder="Patient's Medical ID Number")
								label(class="col-lg-2 control-label") Medication Name
								div(class="col-lg-10")
									input(type="text" class="form-control" name="name")
								label(class="col-lg-2 control-label") Strength
								div(class="col-lg-10")
									input(type="text" class="form-control" name="strength")
								label(class="col-lg-2 control-label") Form
								div(class="col-lg-10")
									input(type="text" class="form-control" name="form")
								label(class="col-lg-2 control-label") Dosage
								div(class="col-lg-10")
									input(type="text" class="form-control" name="dosage")
								label(class="col-lg-2 control-label") Frequency
								div(class="col-lg-10")
									input(type="text" class="form-control" name="frequency")
								label(class="col-lg-2 control-label") Refills
								div(class="col-lg-10")
									input(type="text" class="form-control" name="refills")
								label(class="col-lg-2 control-label") Start Date
								div(class="col-lg-10")
									input(type="text" class="form-control" name="start_date")
								label(class="col-lg-2 control-label") End Date
								div(class="col-lg-10")
									input(type="text" class="form-control" name="end_date")
								label(class="col-lg-2 control-label") Pharmacy
								div(class="col-lg-10")
									input(type="text" class="form-control" name="pharmacy")
							legend Please select the following the apply:
							div(class="form-group")
								input(id="bottomInput" type="checkbox" name="dispense_inOffice")
								label(class="col-lg-4 control-label") Medication dispensed in office
							div(class="form-group")
								input(id="bottomInput" type="checkbox" name="rx_outside")
								label(class="col-lg-4 control-label") Brand medically necessary
							div(class="form-group")
								input(id="bottomInput" type="checkbox" name="otc")
								label(class="col-lg-4 control-label") Over the counter
							div(class="form-group")
								input(id="bottomInput" type="checkbox" name="print_deaNum")
								label(class="col-lg-4 control-label") Print DEA number
						button(type="submit" class="btn btn-default") Submit Prescription
	
	script.
		$(function() {
			$( ".datepicker" ).datepicker();
		});
