//encounter.jade
extends ../layouts/layout_patientResults

block content
	div(class="header")
		div(class="topBar")
			img(class="logo", src="images/SecureLogo.png")
			span(class="status")
				span( id="userLoggedInAs") Currently loggin in as #{user}
				span( id="userLogOut"): a(href="/logout") Log out
		div(class="tabContainer")
			ul(class="topTab")
				li(class="tab"): a(class="tab", href="/profile", title="Home") Home
				li: a(class="tab", href="/patient", title="Home", id="current") Manage Patients
				li: a(class="tab", href="/searchDoctors", title="Home") Search Doctors
				li: a(class="tab", href="/searchMedication?index=1", title="Home") Search Drugs
	div(class="lowerBody")
			div(class="controller" ng-controller="mainController")
				h1= "Patient Information"
				a(href="/addPatient?patientID={{patientInfo[0].patientID}}") Add Patient
				div(class="patientResults")
					table(ng-repeat="user in patientInfo")
						tr
							td
							td
						tr
							td Medical ID Number:
							td {{user.patientID}}
						tr
							td Name
							td {{user.patientName}}
						tr
							td Address
							td {{user.patientAddress}} {{user.patientState}} {{user.patientZip}}
						tr
							td Birthdate
							td {{user.patientBirthdate}}
						tr
							td Gender
							td {{user.patientGender}}
						

	script.
		function mainController($scope) {
			$scope.patientInfo = !{JSON.stringify(patientInfo)};
		}
