//encounter.jade
extends ../layouts/layout_patient

block content
	div(class="navbar navbar-inverse")
		div(class="navbar-collapse collapse navbar-inverse-collapse")
			ul(class="nav navbar-nav")
				li: a(href="/profile") Home
				li(class="active"): a(href="/patient") Patients
				li: a(href="/searchDoctors") Search Doctors
				li: a(href="/searchMedication?index=1") Search Medication
			p(class="farLeft") Currently signed in as #{user}
				span: a(class="logout" href="")  Log out
	div(class="lowerBody" ng-controller="mainController")
		center
			div(class="row")
				div
					div(class="page-header")
						h1= "Patient Information"
					div(id="nurseList" class="bs-component")
						table(ng-repeat="user in patientInfo" class="table table-striped table-hover")
							tr
								td Medical ID Number:
								td {{user.patientID}}
							tr
								td Name
								td {{user.patientName}}
							tr
								td Address
								td {{user.patientAddress}} {{user.patientState}} {{user.patientZip}}
							tr
								td Birthdate
								td {{user.patientBirthdate}}
							tr
								td Gender
								td {{user.patientGender}}
						

	script.
		function mainController($scope) {
			$scope.patientInfo = !{JSON.stringify(patientInfo)};
		}
