//patient.jade
extends ../layouts/layout_patient

block content
	div(class="navbar navbar-inverse")
		div(class="navbar-collapse collapse navbar-inverse-collapse")
			ul(class="nav navbar-nav")
				li: a(href="/profile") Home
				li(class="active"): a(href="/patient") Patients
				li: a(href="/searchDoctors") Search Doctors
				li: a(href="/searchMedication?index=1") Search Medication
			p(class="farLeft") Currently signed in as #{user}
				span: a(class="logout" href="/logout")  Log out
	div(class="lowerBody")
		div(class="col-lg-6")
			div(class="well bs-component")
				div(class="patientTable")
					h1= "My Patients"
					div(ng-controller="patientController")
						table(class="table table-striped table-hover")
							thead
								tr
									th Name
									th ID Number
									th Sex
									th DOB
							tbody
								tr(ng-repeat="patient in patientList")
									td {{patient.patientName}}
									td: a(ng-href="/patientResults?patientID={{patient.patientID}}") {{patient.patientID}}
									td {{patient.patientGender}}
									td {{patient.patientBirthdate}}
		div(class="row")
			div(class="col-lg-6")
				div(class="well bs-component")
					h1= "Patient Search"
					form(class="form-horizontal" name="searchPatient" action="/patientResults?id={{id}}" method="get")
						fieldset
							legend
							div(class="form-group", ng-controller="patientController")
								label(for="id" class="col-lg-2 control-label") Patient ID:
								div(class="col-lg-10")
									input(class="form-control" id="id", type="text", name="patientID", placeholder="Patient's Medical ID Number")
							br
							button(class="btn btn-default" id="newPatient", type="submit", ng-click="getPatientID()") Search Patients

		script.
			function patientController($scope) {
				
				$scope.patientList = !{JSON.stringify(patientList)};

				$scope.getPatientID = function() {
					$scope.id = document.getElementById("id").value;
				}
			}
