//profile.jade
extends ../layouts/layout_profile

block content
	div(class="header")
		div(class="topBar")
			img(class="logo", src="images/SecureLogo.png")
			span(class="status")
				span( id="userLoggedInAs") Currently loggin in as #{user}
				span( id="userLogOut"): a(href="/logout") Log out
		div(class="tabContainer")
			ul(class="topTab")
				li(class="tab"): a(class="tab", href="/profile", title="Home", id="current") Home
				li: a(class="tab", href="/patient", title="Home") Manage Patients
				li: a(class="tab", href="/searchDoctors", title="Home") Search Doctors
				li: a(class="tab", href="/searchMedication?index=1", title="Home") Manage Account
		div(class="lowerBody")
			center
				div(class="tabBox")
					a(href="/newEncounter") Schedule Encounter
					br
					a(href="/historyRequests") Encounter History Requests
					br
					a(href="") Renew Prescription
					br
					a(href="") Get Vaccination Record
				div(class="bodyBox")
					p(id="patientBoxHeader") Renew Prescription
					form(class="patientForm", name="renewPrescription", action="/renewPrescription", method="post")
						p Please provide the following information to renew the prescription order:
						br
						table
							tr
								td Drug name:
								td: input(type="text", name="name")
							tr
								td Strength:
								td: input(type="text", name="strength")
							tr
								td Form:
								td: input(type="text", name="form")
							tr
								td Quantity:
								td: input(type="text", name="quantity")
							tr
								td Dosage:
								td: input(type="text", name="dosage")
							tr
								td Frequency:
								td: input(type="text", name="frequency")
							tr
								td Number of refills:
								td: input(type="text", name="refills")
							tr
								td Start date:
								td: input(type="text", name="start_date")
							tr
								td End date:
								td: input(type="text", name="end_date")
							tr
								td Name of pharmacy:
								td: input(type="text", name="pharmacy")
						br
						p Please select the following that apply:
						br
						label Medication dispensed in office:
						input(type="checkbox", name="dispense_inOffice")
						br
						label Brand medically necessary:
						input(type="checkbox", name="rx_outside")
						br
						label Over the counter:
						input(type="checkbox", name="otc")
						br
						label Print DEA number:
						input(type="checkbox", name="print_deaNum")
						br
						button(type="submit") Schedule Encounter
	
	script.
		$(function() {
			$( "#datepicker" ).datepicker();
		});
