//encounter.jade
extends ../layouts/layout_patient

block content
	div(class="navbar navbar-inverse")
		div(class="navbar-collapse collapse navbar-inverse-collapse")
			ul(class="nav navbar-nav")
				li: a(href="/profile") Home
				li: a(href="/patient") Patients
				li(class="active"): a(href="/searchDoctors") Search Doctors
				li: a(href="/searchMedication?index=1") Search Medication
			p(class="farLeft") Currently signed in as #{user}
				span: a(class="logout" href="/logout")  Log out
	div(class="lowerBody" ng-controller="searchController")
		div(class="col-lg-6")
			div(class="well bs-component")
				div(class="patientTable")
					h1= "Search for doctor"
					form(class="form-horizontal" name="searchDoctor", action="/searchDoctors", method="post")
						fieldset
						legend Please narrow down the search results:
						div(class="form-group")
							label(for="doctorState" class="col-lg-2 control-label" id="stateLabel") State:
							div(class="col-lg-10")
								select(class="form-control" id="doctorState", ng-model="doctor1", ng-options="doctor.doctorState for doctor in doctorList", ng-change="state_change()")
									option(value="{{doctor.doctorState}}")
							label(for="doctorCity" class="col-lg-2 control-label" id="cityLabel") Zip Code:
							div(class="col-lg-10")
								select(class="form-control" id="doctorCity", ng-model="doctor2", ng-options="doctor.doctorZip for doctor in cityList", ng-change="city_change()")
									option(value="{{doctor.doctorZip}}")
							label(class="col-lg-2 control-label" id="hospitalLabel") Hospital:
							div(class="col-lg-10")
								select(class="form-control" id="doctorHospital", ng-model="doctor3", ng-options="doctor.doctorHospital for doctor in hospitalList", ng-change="hospital_change()")
									option(value="{{doctor.doctorHospital}}")
							label(class="col-lg-2 control-label" id="specialityLabel") Specialty:
							div(class="col-lg-10")
								select(class="form-control" id="doctorSpecialty", ng-model="doctor4", ng-options="doctor.doctorSpecialty for doctor in specialtyList", ng-change="specialty_change()")
									option(value="{{doctor.doctorSpecialty}}")
		div(class="col-lg-6")
			div(class="well bs-component")
				div(class="patientTable")
					h1= "Search Results"
					div
						table(class="table table-striped table-hover")
							thead
								tr
									th Name
									th Specialty
									th Profile
							tbody
								tr(ng-repeat="doctor in selectedDoctors")
									td {{doctor.doctorName}}
									td {{doctor.doctorSpecialty}}
									td: a(href="") View Profile

		script.

			function searchController($scope) {
				$scope.doctorList = !{JSON.stringify(doctorList)};

				$scope.state_change = function() {
					var select = document.getElementById("doctorState");
					var state = select.options[select.selectedIndex].text;

					$scope.cityList = [];
					$scope.hospitalList = [];
					$scope.specialtyList = [];
					$scope.selectedDoctors = [];
					for(var i = 0; i < $scope.doctorList.length; i++) {
						if(state == $scope.doctorList[i].doctorState)
							$scope.cityList.push($scope.doctorList[i]);
					}
				}

				$scope.city_change = function() {
					var select = document.getElementById("doctorCity");
					var city = select.options[select.selectedIndex].text;
					
					$scope.hospitalList = [];
					$scope.specialtyList = [];
					$scope.selectedDoctors = [];
					for(var i = 0; i < $scope.doctorList.length; i++) {
						if(city == $scope.doctorList[i].doctorZip)
							$scope.hospitalList.push($scope.doctorList[i]);
					}
				}

				$scope.hospital_change = function() {
					var select = document.getElementById("doctorHospital");
					var hospital = select.options[select.selectedIndex].text;

					$scope.specialtyList = [];
					$scope.selectedDoctors = [];
					for(var i = 0; i < $scope.doctorList.length; i++) {
						if(hospital == $scope.doctorList[i].doctorHospital)
							$scope.specialtyList.push($scope.doctorList[i]);
					}
				}

				$scope.specialty_change = function() {
					var select = document.getElementById("doctorSpecialty");
					var specialty = select.options[select.selectedIndex].text;

					$scope.selectedDoctors = [];
					alert(specialty)
					for(var i = 0; i < $scope.doctorList.length; i++) {
						if(specialty == $scope.doctorList[i].doctorSpecialty)
							$scope.selectedDoctors.push($scope.doctorList[i]);
					}
				}
			}
