//patient.jade
extends ../layouts/layout_profile

block content
	div(class="header")
		div(class="topBar")
			img(class="logo", src="images/SecureLogo.png")
			span(class="status")
				span( id="userLoggedInAs") Currently loggin in as #{user}
				span( id="userLogOut"): a(href="/logout") Log out
		div(class="tabContainer")
			ul(id="topTab")
				li: a(id="tab", href="/profile", title="Home") Home
				li: a(id="tab", href="/patient", title="Home") Find/Create Patient
				li: a(id="tab", href="/encounter", title="Home", class="current") Encounter Queue
				li: a(id="tab", href="/searchMedication?index=1", title="Home") Search Drugs
	div(class="lowerBody")
		h1= "Create Encounter"
		div(id="patientTable")
			ul(id= "encounterHead")
				li: a(id="encounterRef", href="/encounter") View Encounters
				li(id="encounterRefEnd") Add Encounter
		div(class="patientTable")
			p(id="patientBoxHeader") Add a New Encounter Entry
			form(class="patientForm", name="newEncounter", action="/searchPatient", method="post") 
					label(id="encounterType") Please Select the Type of Encounter
					select(name="encounterSelect")
						option(value="oral_cancer") Oral Cancer Screening
						option(value="tb_assessment") TB Patient Assessment
						option(value="ophthalmology") Ophthalmology Questionaire
						option(value="radiology") Radiology Examination
						option(value="teledermatology") Teledermatology
						option(value="surgery_followup") Surgery Follow-Up
						option(value="prenatal_screening") Prenatal Screening
						option(value="cervical_cancer") Diagnose Cervical Cancer
						option(value="hiv_regimen_failure") HIV Regiment Failure
					br
					br
					br
					button(id="searchPatient", type="submit") Search Patient
