//newuser.jade
extends ../layouts/layout_newuser

block content
	div(class="heading")
		img(class="logo", src="images/SecureLogo.png")
	center
		h1= "Initialize Account"
		p Please provide the following information about yourself to complete creation of account:
		div(class="nurseTable")
			form(class="nurseForm", name="newnurse", action="/initAccount", method="post") 
					label(id="nurseID") Nurse Medical ID Number:
					input(type="text", name="nurseID", required)
					br
					label(id="nurseName") Name:
					input(type="text", name="nurseName", required)
					br
					label(id="nurseAddress") Address:
					input(type="text", name="nurseAddress", require)
					br
					label State:
					input(type="text", name="nurseState", required)
					label City:
					input(type="text", name="nurseCity", required)
					label Zip:
					input(type="text", name="nurseZip", required)
					br
					label Name of Hospital:
					input(type="text", name="nurseHospital")
					br
					label(id="birthdate") Birthdate:
					input(type="text", name="nurseBirthdate", id="datepicker", required)
					br
					label(id="gender") Gender: 
					input(type="radio", name="nurseMale", value=true, required)
					label Male
					input(type="radio", name="nurseMale", value=false, required)
					label Female
					br
					label Email Address:
					input(type="text", name="nurseEmail", required) 
					br
					button(id="newnurse", type="submit") Create Account

	script.
		$(function() {
			$( "#datepicker" ).datepicker();
		});
