//profile.jade
extends ../layouts/layout_profile

block content
	div(class="navbar navbar-inverse")
		div(class="navbar-collapse collapse navbar-inverse-collapse")
			ul(class="nav navbar-nav")
				li(class="active"): a(href="/profile") Home
				li: a(href="/patient") Patients
				li: a(href="/searchDoctors") Search Doctors
				li: a(href="/searchMedication?index=1") Search Medication
			p(class="farLeft") Currently signed in as #{user}
				span: a(class="logout" href="/logout")  Log out
	div(class="lowerBody" ng-controller="patientController")
		div(id="rowBox" class="tabBox")
			ul(class="nav nav-pills nav-stacked" style="max-width: 300px;")
				li: a(href="/profile") Calendar
				li(class="active"): a(href="/manageDoctors") Manage Doctors
		div(class="bodyBox")
			div( class="row")
				div
					div(class="well bs-component")
						div(class="patientTable")
							h1= "Current Doctor List"
							div(id="doctorTable" ng-controller="patientController")
								table(class="table table-striped table-hover")
									thead
											tr
												td ID Number
												td Name
												td
												td
									tbody
											tr(ng-repeat = "doctor in doctorList")
												td {{doctor.doctorID}}
												td {{doctor.doctorName}}
												td: a(href="") View Profile
												td: a(href="/removeDoctor?doctorID={{doctor.doctorID}}") Remove
							div(id="emptyDoctorTable")
								p You are not currently monitoring any doctor's patients
				div
					div(class="well bs-component")
						h1= "Add New Doctor"
						form(class="form-horizontal" name="patientListRequest", action="/requestPatientList", method="post")
							fieldset
								legend
								p #{recentEvent}
								div(class="form-group")
									label(for="input" class="col-lg-2 control-label") ID Number
									div(class="col-lg-10")
										input(id="input" class="form-control" type="text", name="doctorID")
							button(class="btn btn-default" type="submit", name="addDoctor") Request Patient List
				

		script.
			
				function mainController($scope) {

					$scope.doctorList = !{JSON.stringify(doctorList)};
					
					$(document).ready( function() {
	
						if($scope.doctorList == 0) {
							$('#doctorTable').hide();
							$('#emptyDoctorTable').show();
						}
						else
							$('#emptyDoctorTable').hide();

					});
				}
