//profile.jade
extends ../layouts/layout_profile

block content
	div(class="navbar navbar-inverse")
		div(class="navbar-collapse collapse navbar-inverse-collapse")
			ul(class="nav navbar-nav")
				li(class="active"): a(href="/profile") Home
				li: a(href="/patient") Patients
				li: a(href="/searchDoctors") Search Doctors
				li: a(href="/searchMedication?index=1") Search Medication
			p(class="farLeft") Currently signed in as #{user}
				span: a(class="logout" href="")  Log out
	div(class="lowerBody" ng-controller="patientController")
		div(class="tabBox")
			ul(class="nav nav-pills nav-stacked" style="max-width: 300px;")
				li: a(href="/profile") Calendar
				li: a(href="/newPrescription") Write Prescription
				li(class="active"): a(href="/manageEncounters") Manage Encounters
		div(class="bodyBox")
			div(id="evenBox" class="row")
				div
					div(class="page-header")
						h1= "Pending Nurse Requests"
					div(id="nurseList" class="bs-component")
						table(class="table table-striped table-hover")
							thead
								tr
									th ID Number
									th Name
									th
									th
							tbody
								tr(ng-repeat="nurse in nurseList")
									td {{nurse.nurseID}}
									td {{nurse.nurseName}}
									td: a(href="/acceptNurse?nurseID={{nurse.nurseID}}") Accept
									td: a(href="/rejectNurse?nurseID={{nurse.nurseID}}") Reject
					div(id="emptyNurseList")
						p(class="lead") There are no pending nurse requests
			div(id="sendEncounters" class="row")
			form(id="encounterForm" name="encounterForm" action="/shareEncounters" method="post")
				div
				div(class="page-header")
					h1= "Select Encounters"
				div(id="encounterList" class="bs-component")
					table(name="encounterTable" class="table table-striped table-hover")
						thead
							tr
								th Select
								th Date
								th Procedure
								th Patient Name
								th Location
								th
						tbody
							tr(ng-repeat="encounter in encounterList")
								td: input(type="checkbox" value="{{encounter.parentID}}?{{encounter._id}}" name="encounters")
								td {{encounter.date}}
								td {{encounter.procedureType}}
								td {{encounter.patientName}}
								td {{encounter.encounterLocation}}
								td: a(href="") Details
				div(id="emptyEncounterList")
					p(class="lead") You currently have no encounters to share
				p(class="lead") Insert the doctor's medical ID you wish to share with:
				label(id="largerText" class="col-lg-2") DoctorID:
				input(id="bottomTextInput" class="form-control" type="text" name="doctorID")
				br
				button(class="btn btn-default" type="submit") Share Encounters
						

		script.

			function patientController($scope) {

				$scope.nurseList = !{JSON.stringify(requestList)};
				$scope.encounterList = !{JSON.stringify(encounterList)};


				$(document).ready(function() {
					if($scope.nurseList.length == 0) {
						$('#nurseList').hide();
						$('#emptyNurseList').show();
					}
					else {
						$('#nurseList').show();
						$('#emptyNurseList').hide();
					}

					if($scope.encounterList.length == 0) {
						$('#emptyEncounterList').show();
						$('#encouterList').hide();
					}
					else {
						$('#emptyEncounterList').hide();
						$('#encounterList').show();
					}
				});
			}

			function logout() {
				$.post("logout");
			}
