//profile.jade
extends ../layouts/layout_prescription

block content
	div(class="navbar navbar-inverse")
		div(class="navbar-collapse collapse navbar-inverse-collapse")
			ul(class="nav navbar-nav")
				li(class="active"): a(href="/profile") Home
				li: a(href="/patient") Patients
				li: a(href="/searchDoctors") Search Doctors
				li: a(href="/searchMedication?index=1") Search Medication
			p(class="farLeft") Currently signed in as #{user}
				span: a(class="logout" href="")  Log out
	div(class="lowerBody")
		div(class="tabBox")
			ul(class="nav nav-pills nav-stacked" style="max-width: 300px;")
				li: a(href="/profile") Calendar
				li(class="active"): a(href="/newPrescription") Write Prescription
				li: a(href="/manageEncounters") Manage Encounters
		div(class="bodyBox")
			h1= "Create Prescription"
			form(class="patientForm", name="newPrescription", action="/newPrescription", method="post")
				fieldset
					legend Please provide the following information to fill the prescription order:
				table
					tr
						td Patient medical ID number:
						td: input(type="text", name="patientID")
					tr
						td Drug name:
						td: input(type="text", name="name")
					tr
						td Strength:
						td: input(type="text", name="strength")
					tr
						td Form:
						td: input(type="text", name="form")
					tr
						td Quantity:
						td: input(type="text", name="quantity")
					tr
						td Dosage:
						td: input(type="text", name="dosage")
					tr
						td Frequency:
						td: input(type="text", name="frequency")
					tr
						td Number of refills:
						td: input(type="text", name="refills")
					tr
						td Start date:
						td: input(type="text", name="start_date", class="datepicker")
					tr
						td End date:
						td: input(type="text", name="end_date", class="datepicker")
					tr
						td Name of pharmacy:
						td: input(type="text", name="pharmacy")
				p Please select the following that apply:
				table
					tr
						td Medication dispensed in office:
						td: input(type="checkbox", name="dispense_inOffice")
					tr
						td Brand medically necessary:
						td: input(type="checkbox", name="rx_outside")
					tr
						td Over the counter:
						td: input(type="checkbox", name="otc")
					tr
						td Print DEA number:
						td: input(type="checkbox", name="print_deaNum")
				button(type="submit") Submit Prescription
	
	script.
		$(function() {
			$( ".datepicker" ).datepicker();
		});
