//profile.jade
extends ./layouts/layout

block content
	div(class="navbar navbar-inverse")
		div(class="navbar-collapse collapse navbar-inverse-collapse")
			ul(class="nav navbar-nav")
			p(class="farLeft") Currently signed in as #{user}
				span: a(class="logout" href="/logout")  Log out
	div(class="lowerBody" ng-controller="patientController")
		div(class="tabBox")
			ul(class="nav nav-pills nav-stacked" style="max-width: 300px;")
		div(class="bodyBox")
			div(id="calendar")
				h1 Log Encounter Information
				a(href="/quit") Quit
				html.
					<form id="newEncounter" action="/add-data/?type=Information" method="POST">
						<p>Username: <input type="text" name="username"> </p>
						<p>Name: <input type="text" name="name"> </p>
						<p>Email: <input type="text" name="email"> </p>
						<p>ID: <input type="text" name="patientID"> </p>
						<input type="submit" value="Submit">
					</form>
