//profile.jade
extends ./layouts/layout

block content
	div(class="navbar navbar-inverse")
		div(class="navbar-collapse collapse navbar-inverse-collapse")
			ul(class="nav navbar-nav")
				li(class="active"): a(href="/profile") Home
				li: a(href="/patient") Patients
				li: a(href="/searchDoctors") Search Doctors
				li: a(href="/searchMedication?index=1") Search Medication
			p(class="farLeft") Currently signed in as #{user}
				span: a(class="logout" href="/logout")  Log out
	div(class="lowerBody" ng-controller="patientController")
		div(class="tabBox")
			ul(class="nav nav-pills nav-stacked" style="max-width: 300px;")
				li(class="active"): a(href="/profile") Calendar
				li: a(href="/managePrescriptions") Manage Prescriptions
				li: a(href="/historyRequests") Manage Requests
				li: a(href="/addEncounter") Add Encounter
		div(class="bodyBox")
			div(id="calendar")
				h1 Past Encounters
				html.
					<table>
						<tbody>
							<tr>
								<td>Patient</td>
								<td>Encounter</td>
								<td>Date</td>
								<td>View Details</td>
							</tr>
					{{#result}}
							<tr>
								<td>{{username}}<td>
								<td>{{type}}<td>
								<td>{{date}}<td>
								<td><a href="{{#biewer.enter}}/encounter_info{{/biewer.enter}}">Details</a><td>
									{{#biewer.entercmd}}["run"]{{/biewer.entercmd}}
								<td><a href="{{#biewer.enter}}/delete{{/biewer.enter}}">Delete {{bubbleid}}</a><td>
									{{#biewer.entercmd}}["run", "--bubbleid", "{{bubbleid}}"]{{/biewer.entercmd}}
							</tr>
						</tbody>
					{{/result}}
					</table>
