extends ./layouts/layout

block content
	div(class="navbar navbar-inverse")
		div(class="navbar-collapse collapse navbar-inverse-collapse")
			ul(class="nav navbar-nav")
				li: a(href="/profile") Home
				li: a(href="/patient") Patients
				li(class="active"): a(href="/searchDoctors") Search Doctors
				li: a(href="/searchMedication?index=1") Search Medication
	div(class="lowerBody" ng-controller="patientController")
		div(class="tabBox")
			ul(class="nav nav-pills nav-stacked" style="max-width: 300px;")
				li: a(href="/profile") Calendar
				li: a(href="/managePrescriptions") Manage Prescriptions
		div(class="bodyBox")
			div(id="calendar")
				html.
					<table>
						<thead>
							<th>Doctor Name</th>
							<th>Contact Information</th>
						</thead>
						<tbody>
					{{#result}}
						{{#Information}}
							<tr>
								<td>{{name}}<td>
								<td>{{email}}<td>
							</tr>
						{{/Information}}
					{{/result}}
							</tbody>
						</table>
