//patient.jade
extends ../layouts/layout_profile

block content
	div(class="header")
		div(class="topBar")
			img(class="logo", src="images/SecureLogo.png")
			span(class="status")
				span( id="userLoggedInAs") Currently loggin in as #{user}
				span( id="userLogOut"): a(href="") Log out
		div(class="tabContainer")
			ul(id="topTab")
				li: a(id="tab", href="/profile", title="Home") Home
				li: a(id="tab", href="/patient", title="Home") Find/Create Patient
				li: a(id="tab", href="/encounter", title="Home", class="current") Encounter Queue
				li: a(id="tab", href="/admin", title="Home") Administration
	div(class="lowerBody")
		h1= "Fill Encounter Information"
		div(id="patientTable")
			form(name="tb_assessment_form", action="/tb_assessment_submit_form", method="post")
				label(class="patientID") Please enter the patient's medical ID number:
				input(type="text", name="patientID")
				br
				label Upload picture of patient
				br
				label Number of sexual partners the patient has had in their lifetime:
				input(type="text", name="num_sexual_partners")
				br
				label Condom use with partners:
				br
				label Never
				input(type="radio", name="condom_usage", value="never")
				label Sometimes
				input(type="radio", name="condom_usage", value="sometimes")
				label Almost always
				input(type="radio", name="condom_usage", value="almost_always")
				label Always
				input(type="radio", name="condom_usage", value="always")
				br
				label Any abdominal or pelvic pain?
				br
				label Yes
				input(type="radio", name="pelvic_pain", value="yes")
				label No
				input(type="radio", name="pelvic_pain", value="no")
				br
				label Menstrual blood flow:
				br
				label Heavy
				input(type="radio", name="menstrual_flow", value="Heavy")
				label Moderate
				input(type="radio", name="menstrual_flow", value="Moderate")
				label Light
				input(type="radio", name="menstrual_flow", value="Light")
				br
				label Is the patient HIV positive?
				br
				label Yes
				input(type="radio", name="hiv_positive", value="Yes")
				label No
				input(type="radio", name="hiv_positive", value="No")
				br
				label Check the following that apply:
				br
				label Vaginal itching
				input(type="checkbox", name="vaginal_itching")
				br
				label Vaginal discharge
				input(type="checkbox", name="vaginal_discharge")
				br
				label Pelvic tenderness
				input(type="checkbox", name="pelvic_tenderness")
				br
				label Add picture of the patient's cervix:
				br
				button(type="submit") Log Encounter



		script.
			function mainController($scope) {
				$scope.encounterList = !{JSON.stringify(encounterList)};
			}
