//patient.jade
extends ../layouts/layout_profile

block content
	div(class="header")
		div(class="topBar")
			img(class="logo", src="images/SecureLogo.png")
			span(class="status")
				span( id="userLoggedInAs") Currently loggin in as #{user}
				span( id="userLogOut"): a(href="") Log out
		div(class="tabContainer")
			ul(id="topTab")
				li: a(id="tab", href="/profile", title="Home") Home
				li: a(id="tab", href="/patient", title="Home") Find/Create Patient
				li: a(id="tab", href="/encounter", title="Home", class="current") Encounter Queue
				li: a(id="tab", href="/admin", title="Home") Administration
	div(class="lowerBody")
		h1= "Fill Encounter Information"
		div(id="patientTable")
			form(name="tb_assessment_form", action="/tb_assessment_submit_form", method="post")
				label Please enter the patient's ID Number:
				input(type="text", name="patientID")
				br
				label(class="symptoms") Symptoms (check all that apply): 
				br
				span(id="myspan") Sudden loss of vision
				input(id="vision_box", type="checkbox", name="vision_sudden")
				br
				label Gradual loss of vision
				input(type="checkbox", name="vision_gradual")
				br
				label Pain
				input(type="checkbox", name="pain")
				br
				label Tearing
				input(type="checkbox", name="tearing")
				br
				label Itching
				input(type="checkbox", name="itching")
				br
				label Redness
				input(type="checkbox", name="redness")
				br
				label Swollen Eye Lid
				input(type="checkbox", name="swollen")
				br
				label Discharge Present
				input(type="checkbox", name="discharge")
				br
				label Double Vision
				input(type="checkbox", name="double_vision")
				br
				label Headache
				input(type="checkbox", name="headache")
				br
				label Other
				input(type="checkbox", name="other_symptoms")
				br
				label(class="history") Medical History (check all that apply):
				br
				label Glaucoma
				input(type="checkbox", name="glaucoma")
				br
				label Dry Eyes
				input(type="checkbox", name="dry_eyes")
				br
				label Uveitis
				input(type="checkbox", name="uveitis")
				br
				label Allergic Eye Disease
				input(type="checkbox", name="allergic_eye_disease")
				br
				label Vernal Catarrh
				input(type="checkbox", name="vernal_catarrh")
				br
				label Uses glasses or contact lenses
				input(type="checkbox", name="glasses")
				br
				label Diabetic
				input(type="checkbox", name="diabetic")
				br
				label Hypertensive
				input(type="checkbox", name="hypertensive")
				br
				label HIV Positive
				input(type="checkbox", name="hiv")
				label TB
				input(type="checkbox", name="tb")
				label Meningitis
				input(type="checkbox", name="meningitis")
				br
				label Other
				input(type="checkbox", name="other_history")
				br
				label(class="medications") Eye Medications (check all that apply):
				br
				label Brimondinine (Alphagan)
				input(type="checkbox", name="brimondinine")
				br
				label Pilocarpine
				input(type="checkbox", name="pilocarpine")
				br
				label Prenisolone 1% (Predforte)
				input(type="checkbox", name="prednisolone_1")
				br
				label Prednisolone .12% (Premild)
				input(type="checkbox", name="prednisolone_.12")
				br
				label Flourometholone Neomycin (FMLNeo)
				input(type="checkbox", name="flourometholone")
				br
				label Tertracycline
				input(type="checkbox", name="tetracycline")
				br
				label Chloramphenicol
				input(type="checkbox", name="chloramphenicol")
				br
				label Tears
				input(type="checkbox", name="tears")
				br
				label Antihistamine Drops
				input(type="checkbox", name="antisistamine")
				br
				label Sodium Cromoglycate Drops
				input(type="checkbox", name="cromoglycate")
				br
				label Other
				input(type="checkbox", name="other_medications")
				br
				label(class="surgeries") Recent Surgeries (check all that apply):
				br
				label Cataract
				input(type="checkbox", name="cataract")
				br
				label Pteryflum Excision
				input(type="checkbox", name="pteryglum")
				br
				label Trabeculectumy
				input(type="checkbox", name="trabeculectumy")
				br
				label Conjunctival Tumar Excision
				input(type="checkbox", name="tumar_excision")
				br
				label Pan Retinal Laser Treatment
				input(type="checkbox", name="retinal_laser")
				br
				label Macular Laser Treatment
				input(type="checkbox", name="macular_laser")
				br
				label Yag Laser for Posterior Capsular Opacity
				input(type="checkbox", name="yag_laser")
				br
				label Cornea Transplant
				input(type="checkbox", name="cornea")
				br
				label Evisceration
				input(type="checkbox", name="evisceration")
				label Enucleation
				input(type="checkbox", name="enucleation")
				br
				label Other
				input(type="checkbox", name="other_surgeries")
				br
				//label(class="history") Family History of (check all that apply):
				//br
				//input(type="checkbox", name="history_glaucoma") Glaucoma
				//input(type="checkbox", name="history_cataract") Cataract
				//input(type="checkbox", name="other_history") Other
				//br
				//label(class="acuity") Visual Acuity (e.g. 6/6):
				//br
				//label Right: 
				//input(type="text", name="right_acuity") 
				//label Left: 
				//input(type="text", name="left_acuity")
				//br
				//label(class="acuity_pinhole") Visual Acuity with pinhole/spectacles:
				//br
				//label Right: 
				//input(type="text", name="right_acuity") 
				//label Left: 
				//input(type="text", name="left_acuity")
				//br
				//label(class="ocular_pressure") Intra-ocular Pressure:
				//br
				//label Right: 
				//input(type="text", name="right_acuity") 
				//label Left: 
				//input(type="text", name="left_acuity")
				//br
				//label(class="orbit_right") Globe/Orbit of Right Eye (check all that apply):
				//br
				//input(type="checkbox", name="proptosis_right") Proptosis
				//input(type="checkbox", name="swelling_right") Swelling
				//input(type="checkbox", name="reduced_movement_right") Reduced Eye Movement
				//input(type="checkbox", name="squint_right") Squint
				//input(type="checkbox", name="retropulsion_resistance_right") Retropulsion Resistance
				//input(type="checkbox", name="tumour_right") Tumour
				//br
				//label(class="orbit_left") Globe/Orbit of Left Eye (check all that apply):
				//br
				//input(type="checkbox", name="proptosis_left") Proptosis
				//input(type="checkbox", name="swelling_left") Swelling
				//input(type="checkbox", name="reduced_movement_left") Reduced Eye Movement
				//input(type="checkbox", name="squint_left") Squint
				//input(type="checkbox", name="retropulsion_resistance_left") Retropulsion Resistance
				//br
				//label(class="eyelid_right") Eyelids - Right Eye (check all that apply):
				//br
				//label(class="trichiasis") Trichiasis
				//label Right: 
				//input(type="checkbox", name="trichiasis_right") Trichiasis
				//label Left:
				//input(type="checkbox", name="trichiasis_right") Trichiasis
				//input(type="checkbox", name="everted_right") Everted
				//input(type="checkbox", name="no_close_right") Can't close tightly
				//input(type="checkbox", name="swelling_right") Swelling
				//input(type="checkbox", name="pouting_right") Pouting Meibomian Glands
				//input(type="checkbox", name="stye_right") Stye
				//input(type="checkbox", name="chalazion_right") Chalazion
				//input(type="checkbox", name="tumour_right") Tumour
				//input(type="checkbox", name="herpes") Herpes Zoster Lesions



				button(type="submit") Log Encounter



		script.
			function mainController($scope) {
				$scope.encounterList = !{JSON.stringify(encounterList)};
			}
