//patient.jade
extends ../layouts/layout_profile

block content
	div(class="header")
		div(class="topBar")
			img(class="logo", src="images/SecureLogo.png")
			span(class="status")
				span( id="userLoggedInAs") Currently loggin in as #{user}
				span( id="userLogOut"): a(href="") Log out
		div(class="tabContainer")
			ul(id="topTab")
				li: a(id="tab", href="/profile", title="Home") Home
				li: a(id="tab", href="/patient", title="Home") Find/Create Patient
				li: a(id="tab", href="/encounter", title="Home", class="current") Encounter Queue
				li: a(id="tab", href="/admin", title="Home") Administration
	div(class="lowerBody")
		h1= "Fill Encounter Information"
		div(id="patientTable")
			form(name="tb_assessment_form", action="/tb_assessment_submit_form", method="post")
				label(class="patientID") Please enter the patient's medical ID number:
				input(type="text", name="patientID")
				br
				label Take picture of the patient:
				br
				label Site of the surgery
				br
				label Head and neck
				input(type="checkbox", name="head_neck")
				br
				label Chest
				input(type="checkbox", name="chest")
				br
				label Abdomen
				input(type="checkbox", name="abdomen")
				br
				label Pelvis
				input(type="checkbox", name="pelvis")
				br
				label Extremities
				input(type="checkbox", name="extremities")
				br
				label Other
				input(type="checkbox", name="other")
				br
				label Is there evidence of an infection?
				br
				label Yes
				input(type="radio", name="infection", value=true)
				label No
				input(type="radio", name="infection", value=false)
				br
				label Recommendation
				br
				label Refer to hospital
				input(type="checkbox", name="hospital_referral")
				br
				label Antibiotics
				input(type="checkbox", name="antibiotics")
				br
				label Follow-Up
				input(type="checkbox", name="followup")
				br
				label Follow-Up in how long:
				input(type="text", name="followup_date")
				br
				label Other comments:
				input(type="text", name="other_comments")
				br
				label Picture of surgery site:
				br
				button(type="submit") Log Encounter



		script.
			function mainController($scope) {
				$scope.encounterList = !{JSON.stringify(encounterList)};
			}
