//patient.jade
extends ../layouts/layout_prescription

block content
	div(class="navbar navbar-inverse")
		div(class="navbar-collapse collapse navbar-inverse-collapse")
			ul(class="nav navbar-nav")
				li(class="active"): a(href="/profile") Home
				li: a(href="/patient") Patients
				li: a(href="/searchDoctors") Search Doctors
				li: a(href="/searchMedication?index=1") Search Medication
			p(class="farLeft") Currently signed in as #{user}
				span: a(class="logout" href="")  Log out
	div(class="lowerBody" ng-controller="patientController")
		div(class="tabBox")
			ul(class="nav nav-pills nav-stacked" style="max-width: 300px;")
				li: a(href="/profile") Calendar
				li: a(href="/newPrescription") Write Prescription
				li: a(href="/manageEncounters") Manage Encounters
		div(class="bodyBox")
			div(id="evenBox" class="row")
				div
					div(class="well bs-component")
						h1= "Fill Encounter Information"
						form(name="tb_assessment_form", class="form-horizontal" action="/tb_assessment_submit?encounterID=#{encounterID}&patientID=#{patientID}", method="post")
							fieldset
							legend Symptoms (check all that apply):
							div(class="form-group")
								table(id="testTable")
									tbody
										tr
											td Cough for more than 2 weeks
											td: input(type="checkbox")
								label(id="cough" class="col-lg-4 control-label") Cough for more than 2 weeks
									input(id="coughBox" type="checkbox", name="cough")
								br
								label(id="fever" class="col-lg-4 control-label") Fever for more than 2 weeks
									input(id="feverBox" type="checkbox", name="fever")
								br
								label(id="weightGain" class="col-lg-4 control-label") Poor weight gain
									input(id="weightGainBox" type="checkbox", name="poor_weight_gain")
								br
								label(id="nightSweats" class="col-lg-4 control-label") Profuse night sweats
									input(id="nightSweatsBox" type="checkbox", name="night_sweats")
								br
								label(id="fatigue" class="col-lg-4 control-label") Fatigue
									input(id="fatigueBox" type="checkbox", name="fatigue")
								br
								label(id="chestPain" class="col-lg-4 control-label") Chest Pain
									input(id="chestPainBox" type="checkbox", name="chest_pain")
								label(id="contact" class="col-lg-4 control-label") Has the patient had contact with a smear positive case?
								br
								label Yes
									input(id="coughBox" type="radio", name="contact" value=true)
								label No
									input(id="coughBox" type="radio", name="contact" value=false)
								br
								label(class="afb_stain") AFB (Microscopy Stain) results:
								input(type="radio", name="afb_results", value=true)
								label Positive
								input(type="radio", name="afb_results", value=false)
								label Negative
								br
								label(class="antibiotics_treatment") Has the patient been treated with anti-biotics within the last 2 weeks?
								input(type="radio", name="anti_biotics", value=true)
								label Yes
								input(type="radio", name="anti_biotics", value=false)
								label No
								br
								button(type="submit") Log Encounter

