//patient.jade
extends ../layouts/layout_profile

block content
	div(class="header")
		div(class="topBar")
			img(class="logo", src="images/SecureLogo.png")
			span(class="status")
				span( id="userLoggedInAs") Currently loggin in as #{user}
				span( id="userLogOut"): a(href="") Log out
		div(class="tabContainer")
			ul(id="topTab")
				li: a(id="tab", href="/profile", title="Home") Home
				li: a(id="tab", href="/patient", title="Home") Find/Create Patient
				li: a(id="tab", href="/encounter", title="Home", class="current") Encounter Queue
				li: a(id="tab", href="/admin", title="Home") Administration
	div(class="lowerBody")
		h1= "Fill Encounter Information"
		div(id="patientTable")
			form(name="tb_assessment_form", action="/tb_assessment_submit_form", method="post")
				label(class="patientID") Please enter the patient's medical ID number:
				input(type="text", name="patientID")
				br
				label(class="symptoms") Is the patient (check all that apply):
				br
				label Pregnant
				input(type="checkbox", name="pregnant")
				br
				label Living in poor conditions
				input(type="checkbox", name="poor_conditions")
				br
				label HIV Positive
				input(type="checkbox", name="hiv_positive")
				br
				label Infected with Hepatitis C
				input(type="checkbox", name="tb_positive")
				br
				br
				label How long has the patient had this condidion?
				input(type="text", name="condition_length")
				br
				label Did the patient have this condition previously?
				label Yes
				input(type="radio", name="previous_condition", value=true)
				label No
				input(type="radio", name="previous_condition", value=false)
				br
				label Is there a family history of this condition?
				label Yes
				input(type="radio", name="family_history", value=true)
				label No
				input(type="radio", name="family_history", value=false)
				br
				label On what area of the body did the rash originate?
				input(type="text", name="rash_origin")
				br
				label Which areas of the skin are currently involved:
				br
				table
					tr
						td
							label All over
							input(type="checkbox", name="all_over")
						td
							label Arms
							input(type="checkbox", name="arms")
						td
							label Back of hands
							input(type="checkbox", name="back_of_hands")
					tr
						td
							label Palms
							input(type="checkbox", name="palms")
						td
							label Around fingers
							input(type="checkbox", name="fingers")
						td
							label Scalp
							input(type="checkbox", name="Scalp")
					tr
						td
							label Face
							input(type="checkbox", name="face")
						td
							label Eyes
							input(type="checkbox", name="eyes")
						td
							label Mouth
							input(type="checkbox", name="mouth")
					tr
						td
							label Neck
							input(type="checkbox", name="neck")
						td
							label Chest
							input(type="checkbox", name="chest")
						td
							label Abdomen
							input(type="checkbox", name="abdomen")
					tr
						td
							label Genital Area
							input(type="checkbox", name="abdomen")
						td
							label Buttocks
							input(type="checkbox", name="buttocks")
						td
							label Back
							input(type="checkbox", name="back")
					tr
						td
							label Legs
							input(type="checkbox", name="legs")
						td
							label Feet
							input(type="checkbox", name="feet")
				br
				label How did the condition start?
				br
				table
					tr
						td
							label Bump
							input(type="checkbox", name="bump")
						td
							label Pus bump
							input(type="checkbox", name="pus_bump")
						td
							label Flat white patch
							input(type="checkbox", name="white_patch")
					tr
						td
							label Flat dark patch
							input(type="checkbox", name="dark_patch")
						td
							label Blister (water filled)
							input(type="checkbox", name="blister")
						td
							label Ulcer (open lesion)
							input(type="checkbox", name="ulcer")
					tr
						td
							label Red scaly
							input(type="checkbox", name="red_scaly")
						td
							label Brown scaly
							input(type="checkbox", name="brown_scaly")
				br
				br
				label How as the area changed?
				br
				label Thickened skin
				input(type="checkbox", value="thickened_skin")
				br
				label Scaly
				input(type="checkbox", value="scaly")
				br
				label Scratch
				input(type="checkbox", value="scratch")
				br
				label No change
				input(type="checkbox", value="no_change")
				br
				br
				label What are the current symptoms?
				br
				table
					tr
						td
							label Constant itching
							input(type="checkbox", name="constant_itching")
						td
							label Occasional itching
							input(type="checkbox", name="occasional_itching")
						td
							label Itching all over
							input(type="checkbox", name="itching_all_over")
					tr
						td
							label Constant pain
							input(type="checkbox", name="constant_pain")
						td
							label Buring or bleeding
							input(type="checkbox", name="burning_bleeding")
						td
							label Fever
							input(type="checkbox", name="fever")
				br
				br
				label How has the rash presented?
				br
				label Comes and goes
				input(type="checkbox", name="comes_and_goes")
				br
				label Worsened
				input(type="checkbox", name="worsened")
				br
				label Got better
				input(type="checkbox", name="got_better")
				br
				label Remained the same
				input(type="checkbox", name="remained_the_same")
				br
				br
				label The rash has been treated with:
				br
				table
					tr
						td
							label Steriod cream
							input(type="checkbox", name="steriod_cream")
						td
							label Antifungal cream
							input(type="checkbox", name="antifungal_cream")
						td
							label Antibacterial cream
							input(type="checkbox", name="antibacterial_cream")
					tr
						td
							label Antifungal pills
							input(type="checkbox", name="antifungal_pills")
						td
							label Antibacterial pills
							input(type="checkbox", name="antibactieral_pills")
						td
							label Traditional medicine
							input(type="checkbox", name="traditional_medicine")
				br
				label Enter any other medications:
				input(type="text", name="other_medications")
				br
				br
				label Additional comments:
				input(type="text", name="additional_comments")
				br
				button(type="submit") Log Encounter



		script.
			function mainController($scope) {
				$scope.encounterList = !{JSON.stringify(encounterList)};
			}
