html, body {
  width: 100%;
  margin: 0px;
  padding: 0px 0px 0px 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.logo {
  padding: 10px 15px 0px 15px;
  height: 150px;
}

.heading {
  background: black;
}
