//index.jade
extends ./layouts/layout_index

block content
	div(class="heading")
		img(class="logo", src="images/SecureLogo.png")
	center
		div
			h1= "Welcome to Secure HealthDB"
			var #{loginMessage} 
			form(name="login", action="/login", method="post")
				span(id="username") Username:
				input(type="text", name="username")
				br
				span(id="password") Password:
				input(type="password", name="password")
				br
				button(type="submit") Login
			a(href='/newuser') Need an account?
