//newuser.jade
extends ./layouts/layout_newuser

block content
	div(class="heading")
		img(class="logo", src="images/SecureLogo.png")
	center
		h1= "Create an account"
		var #{signupMessage}
		form(name="newuser", action="/adduser", method="post")
			input(id="username", type="text", name="username", placeholder="username") 
			br
			input(id="password", type="text", name="password", placeholder="password")
			br
			p Type of User
			input(type="radio", name="userType", value="Patient")
			label Patient
			input(type="radio", name="userType", value="Nurse")
			label Nurse
			input(type="radio", name="userType", value="Doctor")
			label Doctor
			br
			br
			button(type="submit") Register Account
			br
			br
			a(href="/") Return to log in 
