//patient.jade
extends ../layouts/layout

block content
	div(class="header")
		div(class="topBar")
			img(class="logo", src="images/SecureLogo.png")
			span(class="status")
				span( id="userLoggedInAs") Currently loggin in as #{user}
				span( id="userLogOut"): a(href="") Log out
		div(class="tabContainer")
			ul(id="topTab")
				li: a(id="tab", href="/profile", title="Home") Home
				li: a(id="tab", href="/patient", title="Home") Find/Create Patient
				li: a(id="tab", href="/encounter", title="Home", class="current") Encounter Queue
				li: a(id="tab", href="/admin", title="Home") Administration
	div(class="lowerBody")
		h1= "Fill Encounter Information"
		div(id="patientTable")
			form(name="tb_assessment_form", action="/tb_assessment_submit_form", method="post")
				label(class="patientID") Please enter the patient's medical ID number:
				input(type="text", name="patientID")
				br
				label Upload picture of patient
				br
				label Patient's weight
				input(type="text", name="patient_weight")
				br
				label Patient's drug allergies
				input(type="text", name="patient_drug_allergies")
				br
				label Other medical conditions or diagnoses:
				input(type="text", name="other_medical_conditions")
				br
				label Other medications (not HIV):
				input(type="text", name="other_medications")
				br
				label Patient's age at diagnosis:
				input(type="text", name="patient_diagnosis_age")
				br
				label Patient's lowest CD4:
				input(type="text", name="patient_lowest_CD4")
				br
				label History of opportunistic infections:
				input(type="text", name="infection_history")
				br
				label Details of HIV regimen history:
				br
				label Start date
				input(type="text", name="regimen_start")
				br
				label Stop date
				input(type="text", name="regimen_stop")
				br
				label Regimen during this time
				input(type="text", name="regimen")
				br
				label Adverse reactions and reason for dicontinuation
				input(type="text", name="discontinuation_reason")
				br
				label Enter CD4 trend info:
				br
				label Start date
				input(type="text", name="regimen_start")
				br
				label Stop date
				input(type="text", name="regimen_stop")
				br
				label Enter CD4:
				input(type="text", name="patient_cd4")
				br
				label Enter viral load (if available):
				input(type="text", name="viral_load")
				br
				label Enter creatinine info:
				br
				label Start date
				input(type="text", name="regimen_start")
				br
				label Stop date
				input(type="text", name="regimen_stop")
				br
				label Creatinine levels:
				input(type="text", name="creatinine_levels")
				br
				label Hemoglobin info:
				label Start date
				input(type="text", name="regimen_start")
				br
				label Stop date
				input(type="text", name="regimen_stop")
				br
				label Hemoglobin results:
				input(type="text", name="hemoglobin_results")
				br
				label LDT/SGOT info:
				br
				label Start date
				input(type="text", name="regimen_start")
				br
				label Stop date
				input(type="text", name="regimen_stop")
				br
				label ALT/SGOT results:
				input(type="text", name="alt_results")
				br
				button(type="submit") Log Encounter



		script.
			function mainController($scope) {
				$scope.encounterList = !{JSON.stringify(encounterList)};
			}
