//patient.jade
extends ../layouts/layout

block content
	div(class="header")
		div(class="topBar")
			img(class="logo", src="images/SecureLogo.png")
			span(class="status")
				span( id="userLoggedInAs") Currently loggin in as #{user}
				span( id="userLogOut"): a(href="") Log out
		div(class="tabContainer")
			ul(id="topTab")
				li: a(id="tab", href="/profile", title="Home") Home
				li: a(id="tab", href="/patient", title="Home") Find/Create Patient
				li: a(id="tab", href="/encounter", title="Home", class="current") Encounter Queue
				li: a(id="tab", href="/admin", title="Home") Administration
	div(class="lowerBody")
		h1= "Fill Encounter Information"
		div(id="patientTable")
			form(name="oral_cancer_form", action="/oral_cancer_submit_form", method="post")
				label(class="id_number") Please enter the patient's medical ID number:
				input(type="text", name="patientID")
				br
				label(class="family_history") Family History of Cancer?
				input(type="radio", name="family_history", value=true)
				label Yes
				input(type="radio", name="family_history", value=false)
				label No
				br
				label(class="education") Education Level?
				input(type="radio", name="education", value="None")
				label None
				input(type="radio", name="education", value="High School")
				label High School
				input(type="radio", name="education", value="College")
				label College
				br
				label(class="employed") Employed?
				input(type="radio", name="employed", value=true)
				label Yes
				input(type="radio", name="employed", value=false)
				label No
				br
				label(class="Drinker") Drinker?
				input(type="radio", name="drinker", value="Never")
				label Never
				input(type="radio", name="drinker", value="Social")
				label Social
				input(type="radio", name="drinker", value="Often")
				label Often
				br
				label(class="Smoker") Smoker?
				input(type="radio", name="smoker", value="Never")
				label Never
				input(type="radio", name="smoker", value="Social")
				label Social
				input(type="radio", name="smoker", value="Often")
				label Often
				br
				label(class="Tobacco") Paan or Chewing Tobacco?
				input(type="radio", name="tobacco", value="Never")
				label Never
				input(type="radio", name="tobacco", value="Social")
				label Social
				input(type="radio", name="tobacco", value="Often")
				label Often
				br
				label(class="Dentist") Yearly Dentist Visit?
				input(type="radio", name="dentist", value=true)
				label Yes
				input(type="radio", name="dentist", value=false)
				label No
				br
				label(class="Toothbrush") Daily Toothbrushing?
				input(type="radio", name="toothbrush", value=true)
				label Yes
				input(type="radio", name="toothbrush", value=false)
				label No
				br
				label(class="Toothpowder") Use Toothpowder?
				input(type="radio", name="toothpowder", value=true)
				label Yes
				input(type="radio", name="toothpowder", value=false)
				label No
				br
				label(class="Lesion") Oral Lesion or Lump on Neck?
				input(type="radio", name="lesion", value=true)
				label Yes
				input(type="radio", name="lesion", value=false)
				label No
				br
				label(class="Hospital") Current Hospital:
				input(type="text", name="hospital")
				br
				label(class="Risk") Is patient high risk?
				input(type="radio", name="risk", value=true)
				label Yes
				input(type="radio", name="risk", value=false)
				label No
				button(type="submit") Log Encounter



		script.
			function mainController($scope) {
				$scope.encounterList = !{JSON.stringify(encounterList)};
			}
