//patient.jade
extends ../layouts/layout

block content
	div(class="header")
		div(class="topBar")
			img(class="logo", src="images/SecureLogo.png")
			span(class="status")
				span( id="userLoggedInAs") Currently loggin in as #{user}
				span( id="userLogOut"): a(href="") Log out
		div(class="tabContainer")
			ul(id="topTab")
				li: a(id="tab", href="/profile", title="Home") Home
				li: a(id="tab", href="/patient", title="Home") Find/Create Patient
				li: a(id="tab", href="/encounter", title="Home", class="current") Encounter Queue
				li: a(id="tab", href="/admin", title="Home") Administration
	div(class="lowerBody")
		h1= "Fill Encounter Information"
		div(id="patientTable")
			form(name="tb_assessment_form", action="/tb_assessment_submit_form", method="post")
				label(class="patientID") Please enter the patient's medical ID number:
				input(type="text", name="patientID")
				br
				label Upload picture of patient
				br
				label Does the patient have any medical conditions:
				br
				label Heart disease
				input(type="checkbox", name="heart_disease")
				br
				label Asthma
				input(type="checkbox", name="asthma")
				br
				label Hypertension
				input(type="checkbox", name="hypertension")
				br
				label Diabetes
				input(type="checkbox", name="diabetes")
				br
				label Other:
				input(type="text", name="other")
				br
				label Number of previous pregnancies:
				input(type="text", name="previous_pregnancies")
				br
				label Number of previous miscarriages:
				input(type="text", name="previous_miscarriages")
				br
				label Complications during previous pregnancies:
				br
				label Hypertension
				input(type="checkbox", name="hypertension")
				br
				label Bleeding
				input(type="checkbox", name="bleeding")
				br
				label Diabetes
				input(type="checkbox", name="diabetes")
				br
				label Infection
				input(type="checkbox", name="infection")
				br
				label Other:
				input(type="text", name="other")
				br
				label Complications during previous deliveries:
				br
				label Difficult labor
				input(type="checkbox", name="difficult_labor")
				br
				label Excessive bleeding
				input(type="checkbox", name="excessive_bleeding")
				br
				label Other:
				input(type="text", name="other")
				br
				label Does the patient have any deceased children (not including miscarriages)?
				br
				label Yes
				input(type="radio", name="miscarriages", value=true)
				label No
				input(type="radio", name="miscarriages", value=false)
				br
				button(type="submit") Log Encounter



		script.
			function mainController($scope) {
				$scope.encounterList = !{JSON.stringify(encounterList)};
			}
