//patient.jade
extends ../layouts/layout

block content
	div(class="navbar navbar-inverse")
		div(class="navbar-collapse collapse navbar-inverse-collapse")
			ul(class="nav navbar-nav")
				li(class="active"): a(href="/profile") Home
				li: a(href="/patient") Patients
				li: a(href="/searchDoctors") Search Doctors
				li: a(href="/searchMedication?index=1") Search Medication
			p(class="farLeft") Currently signed in as #{user}
				span: a(class="logout" href="/logout")  Log out
	div(class="lowerBody" ng-controller="patientController")
		div(class="tabBox")
			ul(class="nav nav-pills nav-stacked" style="max-width: 300px;")
				li: a(href="/profile") Calendar
				li: a(href="/managePrescriptions") Manage Prescriptions
				li: a(href="/historyRequests") Manage Requests
		div(class="bodyBox")
			h1= "Fill Encounter Information"
			div(id="patientTable")
				form(name="tb_assessment_form", action="/tb_assessment_submit?encounterID=#{encounterID}&patientID=#{patientID}", method="post")
					label(class="symptoms") Symptoms (check all that apply):
					table(class="table table-striped table-hover")
						tr
							td Cough for more than 2 weeks
							td: input(type="checkbox", name="cough")
						tr
							td Fever for more than 2 weeks
							td: input(type="checkbox", name="fever")
						tr
							td Poor weight gain
							td: input(type="checkbox", name="poor_weight_gain")
						tr
							td Profuse night sweats
							td: input(type="checkbox", name="night_sweats")
						tr
							td Fatigue/Reduced playfulness
							td: input(type="checkbox", name="fatigue")
						tr
							td Chest pain
							td: input(type="checkbox", name="chest_pain")
						tr
							td Has the patient had contact with a smear positive case?
							td
						tr
							td Yes
								input(type="radio", name="contact", value=true)
								p No
									input(type="radio", name="contact", value=false)
					
						tr
							td AFB (Microscopy Stain) results:
							td
						tr
							td Positive
								input(type="radio", name="afb_results", value=true)
								p Negative
									input(type="radio", name="afb_results", value=false)
						tr
							td Has the patient been treated with anti-biotics within the last 2 weeks?
							td
						tr
							td Yes
								input(type="radio", name="anti_biotics", value=true)
								p No
									input(type="radio", name="anti_biotics", value=false)
					button(class="btn btn-default" type="submit") Log Encounter

